<div class="modal fade modal-price-tip" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">
                    <div class="d-inline-block">
                        查詢價格提醒
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                搜尋所有縣市僅提供最新 100 筆報價，建議您重新選擇所在區域，將顯示所有完整的報價。
            </div>
        </div>
    </div>
</div>