<div class="modal fade modal-price-info" tabindex="-1" role="dialog" aria-labelledby="modal-price-info">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">產品價格事件</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>
                    此產品原廠市價曾經調漲 + $3000 (先前售價 $39,900)
                </p>
                <p>
                    此產品近期價格下跌 10% (先前售價 $37,900)
                </p>
                <a class="btn btn-block btn-primary mt-2" href="javascript:void(0);" data-dismiss="modal">完成</a>
            </div>
        </div>
    </div>
</div>