<!-- <div class="modal fade modal-fullpage modal-price-search" tabindex="-1" role="dialog"> -->
<div class="modal fade modal-fullpage modal-price-search" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title w-100">
                    <div class="h4 font-weight-bold text-center">
                        搜尋條件
                    </div>
                </div>
                <div class="position-absolute right-0 top-0 mr-3 mt-3">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fa-fw fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="lead font-weight-bold" for="area">所在區域</label>
                        <div class="form-row">
                            <div class="col">
                                <select class="form-control text-primary">
                                    <option>所有縣市</option>
                                </select>
                            </div>
                            @@if(context.navActive!='shop'){
                            <div class="col">
                                <select class="form-control text-primary">
                                    <option>全區域</option>
                                </select>
                            </div>
                            }
                        </div>
                    </div>
                    @@if(context.purchaseName){
                    <div class="form-group">
                        <label class="lead font-weight-bold" for="purchase">@@purchaseName</label>
                        <div class="form-row">
                            @@if(context.navActive=='new'){
                            <div class="col-12 mb-2">
                                <select class="form-control text-center text-primary">
                                    <option>不搭專案（買空機）</option>
                                </select>
                            </div>
                            <div class="col-12 mb-2">
                                <select class="form-control text-center bg-light text-secondary" disabled>
                                    <option>請選擇電信</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <select class="form-control text-center" onchange="planSelect(event)">
                                    <option hidden>請選擇方案</option>
                                    <option value="►綁約：36個月 ►預繳1500►上網1GB，網內送20分鐘、網外+市話20分鐘">4G - 大4G299(36)</option>
                                    <option value="►綁約：24個月 ►預繳洽店家 ►吃到飽（上網限速10Mbps)►網內免費 /網外送30分鐘">4G - 青春無敵388(30)</option>
                                    <option value="►綁約：30個月►預繳12000►網速級限:500Mbps►行動上網量:100G(超過上網量後 改為4G高速吃到飽) ►網內免費 ►網外:160分">5G - 精彩5G 1399(30)</option>
                                </select>
                                <textarea id="planDetail" class="border-0 form-control" rows="5" placeholder=""></textarea>
                            </div>
                            }
                            @@if(context.navActive=='second'){
                            <div class="col-12 mb-2">
                                <select class="form-control px-1 text-primary selectpicker" multiple>
                                    <option selected>外觀機況</option>
                                    <option>外觀機況</option>
                                    <option>外觀機況</option>
                                </select>
                            </div>
                            <div class="col-12 mb-2">
                                <select class="form-control px-1 text-primary">
                                    <option>電池健康度</option>
                                </select>
                            </div>
                            <div class="col-12 mb-2">
                                <select class="form-control px-1 text-primary selectpicker" multiple>
                                    <option selected>門市保固</option>
                                    <option>門市保固</option>
                                    <option>門市保固</option>
                                </select>
                            </div>
                            }
                            @@if(context.navActive=='repair'){
                            <div class="col-12 mb-2">
                                <input type="text" readonly class="form-control-plaintext" value="更換螢幕顯示觸控正常玻璃破裂">
                            </div>
                            }
                        </div>
                    </div>
                    }
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <a class="btn btn-primary btn-block rounded-pill py-0" href="#">
                    <i class="fa-fw fas fa-search"></i>
                    搜尋價格
                </a>
            </div>
        </div>
    </div>
</div>