<div class="card my-2 @@if(context.shadow===true){shadow}">
    <div class="row no-gutters">
        <div class="col-5 col-md-4">
            <a class="" href="@@href">
                <img class="of-cover" src="@@img" alt="@@title">
            </a>
        </div>
        <div class="col-7 col-md-8 align-self-center">
            <div class="card-body px-2 py-@@paddingY">
                <div class="hashtags card-text text-row-1">
                    <a class="hashtag" href="#">@@tag1</a>
                    @@if(context.tag2){
                    <a class="hashtag" href="#">@@tag2</a>
                    }
                    @@if(context.tag3){
                    <a class="hashtag" href="#">@@tag3</a>
                    }
                    @@if(context.tag4){
                    <a class="hashtag" href="#">@@tag4</a>
                    }
                </div>
                <div class="card-title">
                    <a class="text-black font-weight-bold text-row-2" href="@@href">
                        @@title
                    </a>
                </div>
                <p class="card-text"><small class="text-muted">@@date</small></p>
            </div>
        </div>
    </div>
</div>