<div class="row pb-10">
    <div class="col-12">
        <div class="bar-title my-2">@@title</div>
    </div>

    <div class="col-md-4 col-12 mb-2">
        <figure class="text-center h-100">
            <img class="of-cover rounded" src="https://d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/24138/big/2020092320532305749o.jpg" alt="">
        </figure>
    </div>
    <div class="col-md-8 col-12 mb-2">
        <ul class="list-group">
            <li class="list-group-item p-2">
                <span class="col-12 col-md-3">門市電話</span>
                <span class="col-12 col-md-9">(02)2709-4233</span>
            </li>
            <li class="list-group-item p-2">
                <span class="col-12 col-md-3">門市地址</span>
                <span class="col-12 col-md-9">台北市106大安區復興南路一段390號8F-4</span>
            </li>
            <li class="list-group-item p-2">
                <span class="col-12 col-md-3">平日營業時間</span>
                <span class="col-12 col-md-9">10:00~21:00</span>
            </li>
            <li class="list-group-item p-2">
                <span class="col-12 col-md-3">假日營業時間</span>
                <span class="col-12 col-md-9">11:00~21:00</span>
            </li>
            <li class="list-group-item p-2">
                <span class="col-12 col-md-3">公休日</span>
                <span class="col-12 col-md-9">每月一號</span>
            </li>
            <li class="list-group-item p-2">
                <span class="col-12 col-md-3">付款方式</span>
                <span class="col-12 col-md-9">信用卡, 現金</span>
            </li>
            <li class="list-group-item p-2">
                <span class="col-12 col-md-3">營業項目</span>
                <span class="col-12 col-md-9">二手機收購</span>
            </li>
        </ul>
    </div>
    <div class="col-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d57834.11909853098!2d121.2796109373047!3d25.046544758736555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1szh-TW!2stw!4v1443705069959" width="100%" frameborder="0" style="border:0" allowfullscreen class="rounded map"></iframe>
    </div>
</div>