<div class="col-12 col-md-6 col-lg-3 my-2 @@if(context.cat){mix-item @@cat}" @@if(context.cat){data-sort-price="@@sortPrice" data-sort-date="@@sortDate" data-sort-hot="@@sortHot"}>
    <!-- <div class="h-100 p-0 p-lg-2 shadow border bd-2 border-@@borderColor"> -->
    <div class="h-100 p-0 p-lg-2 bg-white shadow @@if(context.borderColor){border border-@@borderColor}">
        @@if(context.badgeFlagTitle){
        <div class="position-absolute right-0 top-0 z-1 mr-2">
            <div class="badge-flag text-center">
                <span class="font-small font-weight-bold">一二三</span>
            </div>
        </div>
        }
        <div class="row">
            <div class="col-4 col-lg-12 mb-0 mb-lg-2">
                <figure class="position-relative h-100 m-0">
                    <a class="d-block h-100 bg-danger" href="#">
                        <img class="of-cover h-lg-180" src="@@img" alt="@@title">
                    </a>
                    @@if(context.badgeSP1Title){
                    <div class="position-absolute left-0 top-0 pt-1 pl-1">
                        <div class="h5">
                            <span class="badge badge-@@badgeSP1Bg rounded-pill">@@badgeSP1Title</span>
                            @@if(context.badgeSP2Title){
                            <br>
                            <span class="badge badge-@@badgeSP2Bg rounded-pill">@@badgeSP2Title</span>
                            }
                        </div>
                    </div>
                    }
                    @@if(context.badge1){
                    <div class="position-absolute bottom-0 left-0 right-0 text-lg-center">
                        <div class="d-block d-lg-inline">
                            <span class="badge badge-light rounded-0 mx-0">@@badge1</span>
                        </div>
                        @@if(context.badge2){
                        <div class="d-block d-lg-inline">
                            <span class="badge badge-light rounded-0 mx-0">@@badge2</span>
                        </div>
                        }
                        @@if(context.badge3){
                        <div class="d-block d-lg-inline">
                            <span class="badge badge-light rounded-0 mx-0">@@badge3</span>
                        </div>
                        }
                        @@if(context.badge4){
                        <div class="d-block d-lg-inline">
                            <span class="badge badge-light rounded-0 mx-0">@@badge4</span>
                        </div>
                        }
                    </div>
                    }
                </figure>
            </div>
            <div class="col-8 col-lg-12">
                <div class="py-2 pr-3 pl-0 p-lg-0">
                    <a class="text-row-1 mb-2 w-75 w-lg-100" href="#">
                        @@title
                    </a>
                    <div class="">
                        <a class="text-dark text-decoration-none text-row-1" href="#">
                            <small>
                                @@if(context.rateScore){
                                    @@rateScore <span class="text-warning"><i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star"></i> <i class="fas fa-star-half"></i></span> (}@@rateCount@@if(context.rateScore){)}
                            </small>
                        </a>
                    </div>
                    <div class="text-row-1 mb-2">
                        <a class="text-muted text-decoration-none" href="#">
                            <small>@@address</small>
                        </a>
                    </div>
                    <div class="mb-1">
                        <div class="text-danger">@@if(context.priceTitle){@@priceTitle}&nbsp;</div>
                        @@if(context.priceLogin=='true'){
                        <del>$@@price</del> <span class="h4 text-danger font-weight-bold">登入驚喜價</span>
                        }
                        @@if(context.priceLogin==''){
                        <span class="h4 text-danger font-weight-bold">$@@price</span>
                        }
                    </div>
                    @@if(context.update){
                    <div class="font-small text-muted mb-4">
                        更新時間：@@update
                    </div>
                    }
                    <div class="row">
                        @@if(context.btn!=''){
                        <div class="col-6 pr-1">
                            @@if(context.btn=='primary'){
                                @@include('_btn.html',{
                                    btnBlock:'true',
                                    btnRounded:'pill',
                                    btnPaddingX:'1',
                                    btnColor:'primary',
                                    href:'#',
                                    btnName:'@@btnPrimaryName',
                                })
                            }
                            @@if(context.btn=='danger'){
                                @@include('_btn.html',{
                                    btnBlock:'true',
                                    btnRounded:'pill',
                                    btnPaddingX:'1',
                                    btnColor:'danger',
                                    href:'#',
                                    btnName:'@@btnDangerName',
                                })
                            }
                        </div>
                        <div class="col-3 px-1">
                            @@include('_btn.html',{
                                btnBlock:'true',
                                btnRounded:'pill',
                                btnPaddingX:'1',
                                btnColor:'secondary',
                                href:'tel:0910123456',
                                btnIcon:'fas fa-phone',
                            })
                        </div>
                        <div class="col-3 pl-1">
                            @@include('_btn.html',{
                                btnBlock:'true',
                                btnRounded:'pill',
                                btnColor:'secondary',
                                btnPaddingX:'1',
                                href:'#',
                                btnIcon:'fab fa-line',
                            })
                        </div>
                        }
                        @@if(context.btn==''){
                        <div class="col-6 pr-1">
                            @@include('_btn.html',{
                                btnBlock:'true',
                                btnRounded:'pill',
                                btnPaddingX:'1',
                                btnColor:'primary',
                                href:'tel:0910123456',
                                btnIcon:'fas fa-phone',
                            })
                        </div>
                        <div class="col-6 pl-1">
                            @@include('_btn.html',{
                                btnBlock:'true',
                                btnRounded:'pill',
                                btnPaddingX:'1',
                                btnColor:'primary',
                                href:'#',
                                btnIcon:'fab fa-line',
                            })
                        </div>
                        }
                    </div>
                    <hr class="my-3">
                    <div class="text-row-2 font-small mb-2">
                        @@desc
                    </div>
                    <div class="text-row-2 font-small">
                        @@if(context.tag1){
                        <a class="mr-2" href="#">#@@tag1</a>
                        }
                        @@if(context.tag2){
                        <a class="mr-2" href="#">#@@tag2</a>
                        }
                        @@if(context.tag3){
                        <a class="mr-2" href="#">#@@tag3</a>
                        }
                        &nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>