<ul class="nav" id="priceNav">
    <li class="nav-item">
        <a class="nav-link px-5 @@if(context.navActive!='new'){text-secondary} @@if(context.navActive=='new'){text-dark border-bottom border-dark bd-2}" href="price-new-store-list.html">
            <div class="h5">找新機</div>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-5 @@if(context.navActive!='second'){text-secondary} @@if(context.navActive=='second'){text-dark border-bottom border-dark bd-2}" href="price-second-store-list.html">
            <div class="h5">找二手</div>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-5 @@if(context.navActive!='repair'){text-secondary} @@if(context.navActive=='repair'){text-dark border-bottom border-dark bd-2}" href="price-repair-cat-list.html">
            <div class="h5">找維修</div>
        </a>
    </li>
</ul>