<div @@if(context.fullpage=='true'){class="container-fluid @@if(context.fpBgClass){@@fpBgClass}"} @@if(context.id){id="@@id"}>
    <div class="container">
        <div class="row pb-10">
            <div class="col-12 my-2">
                <div class="row no-gutters">
                    <div class="col-12">
                        <div class="h5 text-row-12 mb-3">
                            標題標題標題標題標題標題標題標題標題標題
                        </div>
                        <textarea class="form-control" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>