<div class="container">
    <div class="scroller-status text-center">
        <div class="infinite-scroll-request loader-ellips"></div>
        <div class="infinite-scroll-last alert alert-warning">
            <div class="lead font-weight-bold">
                <i class="fas fa-spinner fa-pulse"></i> 載入中
            </div>
        </div>
        <div class="infinite-scroll-error alert alert-warning">
            <div class="lead font-weight-bold">沒有頁面可以讀取了</div>
        </div>
    </div>
</div>