.btn-service {
    position: fixed;
    bottom: 40px;
    right: 1em;
}
.btn-shop {
    @include button-variant($black, #fc0, #fc0);
    @include border-radius(0);
}
.btn-img {
    @include transition(all 0.2s ease);
    font-size: 15px;
    img {
        @include transition(all 0.2s ease);
        &:hover {
            opacity: .5;
        }
    }
    &:hover {
        text-decoration: none;
    }
}
.btn-loadmore[aria-expanded="true"] {
    display: none;
}
.btn-hover-ol-primary {
    &:focus,
    &:hover {
        background: none !important;
        border-color: $primary !important;
        color: $primary !important;
    }
}
.btn-price {
    &:hover,
    &:focus {
        text-decoration: none;
        border-color: $primary !important;
    }
}