input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0;
}
input[type=number] {
    min-width: 7.5rem;
}

select {
    font-family: 'FontAwesome', Verdana
}