//@include media-breakpoint-down(lg) {
    .nav-responsive {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .nav {
            flex-flow: nowrap;
            white-space: nowrap;
        }
    }
//}

.nav-styled {
    .nav-link {
        padding-left: 10px;
        padding-right: 10px;
        background-color: $color-ci;
        color: #a76e00;
        border-radius: 0;
        @include hover-focus {
            background-color: $primary;
            color: $white;
        }
    }
}
.nav-underline {
    .nav-link {
        color: $gray-500 !important;
        &:hover,
        &:focus,
        &.active {
            color: $primary !important;
            border-bottom: 1px solid $primary;
        }
    }
}
.mobile-menu {
    overflow: auto;
//    position: fixed;
//    top: 0;
//    padding-top: 55px;
    position: absolute;
    z-index: 1029;
    display: none;
    padding-bottom: 195px;
//    padding-bottom: 50%;
    width: 100%;
    height: 100%;
    background: $white;
    .nav-link {
        padding: 15px 5px;
        color: $dark;
    }
    .avatar {
        width: 46px;
        height: 46px;
        object-fit: cover;
        @include border-radius(50%);
        
    }
    .card-header {
        padding-top: 15px;
        padding-bottom: 15px;
        .btn {
            position: relative;
            padding: 0;
            color: $dark;
            text-align: left;
            text-decoration: none;
            &[aria-expanded="true"] {
                &:after {
                    content: $icon-caret-up;
                }
            }
            &[aria-expanded="false"] {
                &:after {
                    content: $icon-caret-down;
                }
            }
            &:after {
                position: absolute;
                top:50%;
                right: 0;
                margin-top:-12px;
                font-family: FontAwesome;
                content: $icon-caret-down;
            }
        }
    }
    .card {
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }
    .list-group {
        .list-group-item {
            padding-top: 15px;
            padding-bottom: 15px;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            &:first-child {
                border-top: 0;
            }
        }
    }
}

//.pushy {
//    .list-group {
//        .list-group-item {
//            border-left: 0;
//            border-right: 0;
//            border-radius: 0;
//            i {
//                margin-right: 5px;
//                line-height: 1;
//            }
//        }
//    }
//}

.breadcrumb {
    .breadcrumb-item {
        a {
            color: $primary;
            @include hover-focus {
                text-decoration: underline;
            }
        }
    }
}
#menu-bottom {
    position: fixed;
    right: 1rem;
    bottom: 7.5rem;
    z-index: 1030;
    display: none;
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .25rem 0;
        padding: 0;
        width: 50px;
        height: 50px;
        @include border-radius(50%);
        font-size: $font-size-lg;
        text-align: center;
        @include hover-focus {
            text-decoration: none;
        }
    }
}
//.nav {
//    .nav-link {
//        color: $dark;
//        &:hover,
//        &:focus,
//        &.active {
//            color: $primary;
//        }
//    }
//}