//@include media-breakpoint-down(lg) {
    .nav-responsive {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .nav {
            flex-flow: nowrap;
            white-space: nowrap;
        }
    }
//}

.nav-styled {
    .nav-link {
        padding-left: 10px;
        padding-right: 10px;
        background-color: $color-ci;
        color: #a76e00;
        border-radius: 0;
        @include hover-focus {
            background-color: $primary;
            color: $white;
        }
    }
}
.nav-underline {
    .nav-link {
        color: $gray-500 !important;
        &:hover,
        &:focus,
        &.active {
            color: $primary !important;
            border-bottom: 1px solid $primary;
        }
    }
}
.mobile-menu {
    overflow: auto;
//    position: fixed;
//    top: 0;
//    padding-top: 55px;
    position: absolute;
    z-index: 1029;
    display: none;
    padding-bottom: 195px;
//    padding-bottom: 50%;
    width: 100%;
    height: 100%;
    background: $white;
    .nav-link {
        padding: 15px 5px;
        color: $dark;
    }
    .avatar {
        width: 46px;
        height: 46px;
        object-fit: cover;
        @include border-radius(50%);
        
    }
    .card-header {
        padding-top: 15px;
        padding-bottom: 15px;
        .btn {
            position: relative;
            padding: 0;
            color: $dark;
            text-align: left;
            text-decoration: none;
            &[aria-expanded="true"] {
                &:after {
                    content: $icon-caret-up;
                }
            }
            &[aria-expanded="false"] {
                &:after {
                    content: $icon-caret-down;
                }
            }
            &:after {
                position: absolute;
                top:50%;
                right: 0;
                margin-top:-12px;
                font-family: FontAwesome;
                content: $icon-caret-down;
            }
        }
    }
    .card {
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }
    .list-group {
        .list-group-item {
            padding-top: 15px;
            padding-bottom: 15px;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            &:first-child {
                border-top: 0;
            }
        }
    }
}

//.pushy {
//    .list-group {
//        .list-group-item {
//            border-left: 0;
//            border-right: 0;
//            border-radius: 0;
//            i {
//                margin-right: 5px;
//                line-height: 1;
//            }
//        }
//    }
//}

.breadcrumb {
    .breadcrumb-item {
        a {
            color: $primary;
            @include hover-focus {
                text-decoration: underline;
            }
        }
    }
}
#menu-bottom {
    position: fixed;
    right: 1rem;
    bottom: 7.5rem;
    z-index: 1030;
    display: none;
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .25rem 0;
        padding: 0;
        width: 50px;
        height: 50px;
        @include border-radius(50%);
        font-size: $font-size-lg;
        text-align: center;
        @include hover-focus {
            text-decoration: none;
        }
    }
}
//.nav {
//    .nav-link {
//        color: $dark;
//        &:hover,
//        &:focus,
//        &.active {
//            color: $primary;
//        }
//    }
//}

/* Form Progress */
$step-bar-size: 60px;
$step-label-size: 42px;

.step {
    position: relative;
    text-align: center;
    .col {
        margin-left: -2px;
        margin-right: -2px;
    }
    .step-circle,
    .step-bar {
        display: inline-block;
        background: $gray-100;
        width: $step-bar-size;
        height: $step-bar-size;
        border-radius: $step-bar-size !important;
        border: 1px solid $gray-300;
    }
    .step-bar {
        position: relative;
        top: $step-bar-size / 4;
        z-index: 1;
        width: 100%;
        height: 8px;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .step-circle {
        position: relative;
        .step-label {
            position: relative;
            z-index: 1;
            display: inline-block;
            width: $step-label-size;
            height: $step-label-size;
            line-height: $step-label-size;
            border-radius: 50% !important;
            background: $white;
            margin: 8px 8px 0;
            color: $gray-500;
            font-size: 1.5rem;
            text-align: center;
            &.font-sm {
                font-size: $font-size-sm;
            }
        }
    }
    .step-text {
        position: absolute;
        left: -50%;
        right: 0;
        width: 200%;
        margin-top: 10px;
        font-size: $font-size-sm;
        color: $secondary;
    }
    /* Done / Active */
    .step-bar.done,
    .step-circle.done {
        // background: #eee;
    }
    .step-bar.active {
        background: linear-gradient(to right, #EEE 40%, #FFF 60%);
    }
    .step-circle.done {
        .step-label {
            color: $white;
            background: $primary;
        }
        .step-text {
            color: $primary;
        }
    }
    .step-circle.active {
        .step-label {
            color: $white;
            background: $primary;
        }
        .step-text {
            color: $primary;
        }
    }
    &.step-from-to {
        .step-bar {
            position: absolute;
            z-index: 0;
            top: $step-bar-size / 2 - 4px;
            width: 90%;
        }
        @include media-breakpoint-down(md) {
            text-align: left;
            .steps {
                display: flex;
                align-items: center;
            }
            .step-circle,
            .step-text {
                display: inline-flex;
            }
            .step-circle {
//                width: $step-bar-size;
            }
            .step-text {
                margin-top: 0;
                margin-left: 1rem;
            }
            .col-12 {
                margin-top: 2rem;
                .step-circle {
                    &:before {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 100%;
                        z-index: 0;
                        margin: 0 auto;
                        display: block;
                        width: 8px;
                        height: 100%;
                        background: $gray-100;
                        border: 1px solid $gray-300;
                        border-top: 0;
                        border-bottom: 0;
                        content: '';
                    }
                }
                
                &:first-child {
                    margin-top: 0;
                    .step-circle {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}