<div class="col-12 my-2" id="@@id">
    @@include('../../unit/_section-title-h3.html',{
        icon:"@@icon",
        title:"@@title"
    })
    <div class="row slider-rwd-3 slider">
        <div class="col-12 my-2">
            <a href="" class="card card-article-overlay-md mx-auto text-white">
                <img src="https://d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/24188/extra_large/1.jpg" class="img-fluid" alt="">
                <div class="card-img-overlay">
                    <div class="card-title m-0 text-row-1">三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板</div>
                </div>
            </a>
        </div>
        <div class="col-12 my-2">
            <a href="" class="card card-article-overlay-md mx-auto text-white">
                <img src="https://d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/24190/big/IMG_0095.jpg" class="img-fluid" alt="">
                <div class="card-img-overlay">
                    <div class="card-title m-0 text-row-1">三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板</div>
                </div>
            </a>
        </div>
        <div class="col-12 my-2">
            <a href="" class="card card-article-overlay-md mx-auto text-white">
                <img src="https://d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/24188/extra_large/1.jpg" class="img-fluid" alt="">
                <div class="card-img-overlay">
                    <div class="card-title m-0 text-row-1">三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板</div>
                </div>
            </a>
        </div>
    </div>
    <div class="">
        <a class="btn btn-outline-primary" href="#">更多內容</a>
    </div>
</div>