<div class="col-12 my-2" id="@@id">
    @@include('../../unit/_section-title-h3.html',{
        icon:"@@icon",
        title:"@@title"
    })
    <div class="row slider-rwd-3 slider">
        <div class="col-12 my-2">
            <div class="box">
                <div class="row no-gutters align-items-center text-center">
                    <div class="col-5 p-2">
                        <img class="img-fluid mx-auto" src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Xiaomi_xiaomi_6_0419092419468_160x120.jpg" alt="">
                        <div class="text-row-2 mt-2" data-toggle="tooltip" data-placement="top" title="SAMSUNG Gear S">
                            SAMSUNG Gear S SAMSUNG Gear S
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <img class="img-fluid mx-auto" src="/assets/images/ui/icon-vs.png" alt="">
                    </div>
                    <div class="col-5 p-2">
                        <img class="img-fluid mx-auto" src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_j7_pro_0629071629081_160x120.jpg" alt="">
                        <div class="text-row-2 mt-2" data-toggle="tooltip" data-placement="top" title="SAMSUNG Gear S">
                            Sony XZ
                        </div>
                    </div>
                    <div class="col-12 bg-light p-2">
                        <a class="btn btn-primary" href="/common/pk-seo.html">對決</a>
                        <div class="text-muted font-small">2,000人已比較</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 my-2">
            <div class="box">
                <div class="row no-gutters align-items-center text-center">
                    <div class="col-5 p-2">
                        <img class="img-fluid mx-auto" src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Xiaomi_xiaomi_6_0419092419468_160x120.jpg" alt="">
                        <div class="text-row-2 mt-2" data-toggle="tooltip" data-placement="top" title="SAMSUNG Gear S">
                            SAMSUNG Gear S SAMSUNG Gear S
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <img class="img-fluid mx-auto" src="/assets/images/ui/icon-vs.png" alt="">
                    </div>
                    <div class="col-5 p-2">
                        <img class="img-fluid mx-auto" src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_j7_pro_0629071629081_160x120.jpg" alt="">
                        <div class="text-row-2 mt-2" data-toggle="tooltip" data-placement="top" title="SAMSUNG Gear S">
                            Sony XZ
                        </div>
                    </div>
                    <div class="col-12 bg-light p-2">
                        <a class="btn btn-primary" href="/common/pk-seo.html">對決</a>
                        <div class="text-muted font-small">2,000人已比較</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 my-2">
            <div class="box">
                <div class="row no-gutters align-items-center text-center">
                    <div class="col-5 p-2">
                        <img class="img-fluid mx-auto" src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Xiaomi_xiaomi_6_0419092419468_160x120.jpg" alt="">
                        <div class="text-row-2 mt-2" data-toggle="tooltip" data-placement="top" title="SAMSUNG Gear S">
                            SAMSUNG Gear S SAMSUNG Gear S
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <img class="img-fluid mx-auto" src="/assets/images/ui/icon-vs.png" alt="">
                    </div>
                    <div class="col-5 p-2">
                        <img class="img-fluid mx-auto" src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_j7_pro_0629071629081_160x120.jpg" alt="">
                        <div class="text-row-2 mt-2" data-toggle="tooltip" data-placement="top" title="SAMSUNG Gear S">
                            Sony XZ
                        </div>
                    </div>
                    <div class="col-12 bg-light p-2">
                        <a class="btn btn-primary" href="/common/pk-seo.html">對決</a>
                        <div class="text-muted font-small">2,000人已比較</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>