<div class="@@if(context.paddingX){py-@@paddingX} @@if(context.paddingY){py-@@paddingY} @@if(context.paddingTop){pt-@@paddingTop} @@if(context.paddingBottom){pb-@@paddingBottom} @@if(context.fpBgClass){@@fpBgClass}" @@if(context.id){id="@@id"}>
    <div class="container">
        @@include('../../unit/_section-title-h2.html',{
            hr:'@@hr',
            title:'@@title'
        })
        <div class="row align-items-center">
            <div class="col-12 col-xl-8 col-lg-7 my-2">
                @@include('../../page/common/_article-list.html',{
                    rowStyle:'hs-6',
                    item:'2',
                })
            </div>
            <div class="col-12 col-lg text-center">
                @@include('../../comp/_ad-336-280.html')
            </div>
        </div>
    </div>
    <div class="container">
        @@include('_discount-list.html',{
            rowStyle:'hs-4',
            group: {
                item: [
                {
                    col:10, colMd:4,
                    img:'/assets/images/ui/logo-ec.png',
                    title:'三星GALAXY Tab A實測',
                    btnColor:'primary',
                    btnName:'查看優惠',
                },
                {
                    col:10, colMd:4,
                    img:'/assets/images/ui/logo-ec.png',
                    title:'三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen',
                    btnColor:'warning',
                    btnName:'查看優惠',
                },
                {
                    col:10, colMd:4,
                    img:'/assets/images/ui/logo-ec.png',
                    title:'三星GALAXY Tab A實測',
                    btnColor:'warning',
                    btnName:'查看優惠',
                },
                {
                    col:10, colMd:4,
                    img:'/assets/images/ui/logo-ec.png',
                    title:'三星GALAXY Tab A實測 入門級S Pen',
                    btnColor:'warning',
                    btnName:'查看優惠',
                },
                ],
            },
        })
    </div>
</div>