<div class="container text-center py-10">
    <h1 class="h1 font-weight-bold mb-2">SAMSUNG</h1>
    <a class="btn btn-primary btn-sm font-small rounded-pill px-8" href="#">
        <i class="fas fa-plus"></i> 追蹤品牌
    </a>
</div>
<div class="container-fluid sticky-top border-bottom bg-white">
    <div class="container">
        <nav id="navbar-brands" class="row">
            <div class="col-10 col-md-11 col-lg">
            <div class="nav-responsive">
                <ul class="nav nav-pills nav-justified font-weight-bold h5">
                    <li class="nav-item">
                        <a class="nav-link btn-anchor" href="#section-new">品牌最新</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-anchor" href="#section-product">所有產品</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-anchor" href="#section-discount">最新優惠</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-anchor" href="#section-compare">比較</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-anchor" href="#section-price">價格</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-anchor" href="#section-repair">維修</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-anchor" href="#section-second">二手</a>
                    </li>
                </ul>
            </div>
            </div>
            <div class="col col-md-auto text-right d-lg-none">
                <div class="dropdown">
                    <a class="btn dropdown-toggle p-1" href="javscript:void(0);" data-toggle="dropdown"></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javscript:void(0);">選項</a>
                        <a class="dropdown-item" href="#section-price">價格</a>
                        <a class="dropdown-item" href="#section-repair">維修</a>
                        <a class="dropdown-item" href="#section-second">二手</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>