<div class="col-12 my-2" id="@@id">
    @@include('../../unit/_section-title-h3.html',{
        icon:"@@icon",
        title:"@@title"
    })
    <div class="row">
        <div class="col-lg-8 my-2">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="box my-2 p-2">
                        <a class="d-block mb-2" href="#">
                            <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_5_mark_two_0917074117675_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                        </a>
                        <a href="#" class="text-row-2">Apple iPhone 7 Plus 128GB</a>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <small class="d-block text-muted">
                                    原廠售價：<del>$39,990</del>
                               </small>
                               <a class="lead text-primary font-weight-bold m-0" href="#">$29,000</a>
                            </div>
                            <a class="btn btn-primary" href="#">了解更多</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="box my-2 p-2">
                        <a class="d-block mb-2" href="#">
                            <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_5_mark_two_0917074117675_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                        </a>
                        <a href="#" class="text-center text-row-2">Apple iPhone 7 Plus 128GB</a>
                        <div class="d-flex justify-content-between align-items-center">
                            <div>
                                <small class="d-block text-muted">
                                    &nbsp;
                               </small>
                               <a class="lead text-primary font-weight-bold m-0" href="#">$29,000</a>
                            </div>
                            <a class="btn btn-primary" href="#">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 my-2">
            @@include('../../../partial/unit/_ad-300-250-item.html')
        </div>
    </div>
</div>