<div class="@@if(context.paddingX){py-@@paddingX} @@if(context.paddingY){py-@@paddingY} @@if(context.paddingTop){pt-@@paddingTop} @@if(context.paddingBottom){pb-@@paddingBottom} @@if(context.fpBgClass){@@fpBgClass}" @@if(context.id){id="@@id"}>
    <div class="container py-10">

        <div class="row">
            <div class="col-2 d-none d-lg-flex">
                <figure class="m-0 h-100">
                    <img src="//d2lfcsub12kx0l.cloudfront.net/tw/product/img/LG_lg_stylus_3_0320081720195_360x270.jpg" class="of-contain" alt="@@title1">
                </figure>
            </div>
            <div class="col-12 col-lg-10">
                <div class="row mb-5">
                    <div class="col-2 d-lg-none">
                        <figure class="m-0 h-100">
                            <img src="//d2lfcsub12kx0l.cloudfront.net/tw/product/img/LG_lg_stylus_3_0320081720195_360x270.jpg" class="of-cover" alt="@@title1" style="height: 75px;">
                        </figure>
                    </div>
                    <div class="col col-lg-12">
                        <h1 class="d-block fs-h4 mb-3">@@title1 @@title2</h1>

                        <div class="row">
                            @@if(context.group){
                            <div class="col-6 col-md-4 col-lg-3 pr-1">
                                @@include('../../unit/_btn.html',{
                                    btnBlock:'true',
                                    btnRounded:'pill',
                                    btnColor:'primary',
                                    href:'detail.html',
                                    btnIcon:'fas fa-chevron-left',
                                    btnName:'回規格介紹',
                                })
                            </div>
                            @@if(context.group!='repair-store'){
                            <div class="col-3 col-md-3 col-lg-2 px-1">
                                @@include('../../unit/_btn.html',{
                                    btnBlock:'true',
                                    btnRounded:'pill',
                                    btnColor:'secondary',
                                    href:'#',
                                    btnIcon:'fas fa-bell',
                                    btnName:'價格追蹤',
                                    btnRWD:'true',
                                })
                            </div>
                            }
                            <div class="col-3 col-md-3 col-lg-2 pl-1">
                                @@include('../../unit/_btn.html',{
                                    btnBlock:'true',
                                    btnRounded:'pill',
                                    btnColor:'secondary',
                                    href:'#',
                                    btnIcon:'fas fa-share',
                                    btnName:'分享',
                                    btnRWD:'true',
                                })
                            </div>
                            }
                        </div>
                    </div>
                </div>

                @@if(context.group=='new'){
                <div class="row row-hs no-gutters mb-5">
                    <div class="col-auto px-1">
                        <div class="rounded py-1 px-2 border border-muted text-muted text-left btn-hover-ol-primary">
                            <div class="lead font-weight-bold">128GB</div>
                            最低 $26,900
                        </div>
                    </div>
                    <div class="col-auto px-1">
                        <div class="rounded py-1 px-2 border border-primary text-primary text-left">
                            <div class="lead font-weight-bold">256GB</div>
                            最低 $26,900
                        </div>
                    </div>
                    <div class="col-auto px-1">
                        <div class="rounded py-1 px-2 border border-muted text-muted text-left btn-hover-ol-primary">
                            <div class="lead font-weight-bold">512GB</div>
                            最低 $26,900
                        </div>
                    </div>
                    <div class="col-auto px-1">
                        <div class="rounded py-1 px-2 border border-muted text-muted text-left btn-hover-ol-primary">
                            <div class="lead font-weight-bold">終極特別版</div>
                            最低 $26,900
                        </div>
                    </div>
                </div>
                }

                @@if(context.group=='repair-store'){
                <div class="row">
                    @@loop('../../unit/_price-intro-repair-item.html', [
                        {label:'換螢幕(顯示觸控正常)', price:'1,000', btnColor:'primary',},
                        {label:'換螢幕(顯示觸控異常)', price:'300', btnColor:'primary',},
                        {label:'換電池', price:'23,300', btnColor:'primary',},
                        {label:'前相機', price:'15,200', btnColor:'primary',},
                        {label:'後相機', price:'8,150', btnColor:'primary',},
                        {label:'現場檢測', price:'1,500', btnColor:'primary',},
                        {label:'充電線插孔問題', price:'800', btnColor:'primary',},
                    ])
                </div>
                }
                @@if(context.group!='repair-store'){
                <div class="row">
                    <div class="col-5 col-md-auto ml-3 ml-md-0">
                        <div class="row align-items-center">
                            <div class="col col-md-auto mb-3 mb-md-0">
                                <a class="d-flex text-decoration-none" href="#">
                                    @@if(context.group!='repair-cat'){
                                    <h2 class="sr-only">門市空機價 (最低) $@@priceNew</h2>
                                    }
                                    <div class="w-100 m-0">
                                        <div class="text-dark font-small mb-1">門市空機價 (最低)</div>
                                        <div class="h3 font-weight-bold text-primary">$@@priceNew</div>
                                    </div>
                                </a>
                            </div>
                            @@if(context.discount){
                            <div class="col col-md-auto">
                                <a class="d-flex text-decoration-none" href="#">
                                    <div class="d-none d-md-flex flex-shrink-1 pr-2 text-success">
                                        <i class="fas fa-3x fa-arrow-circle-down"></i>
                                    </div>
                                    <div class="w-100">
                                        <div class="text-muted font-small mb-1">與建議售價相比</div>
                                        <div class="h5 font-weight-bold text-success">
                                            <div class="d-inline d-md-none">
                                                <i class="fas fa-arrow-circle-down"></i>
                                            </div>
                                            降價 $@@discount
                                        </div>
                                    </div>
                                </a>
                            </div>
                            }
                        </div>
                    </div>
                    @@if(context.priceSecond){
                    <div class="col-1 text-center">
                        <div class="d-inline-block border-right h-100"></div>
                    </div>
                    <div class="col-5 col-md-auto mr-3 mr-md-0">
                        <div class="row align-items-center">
                            <div class="col col-md-auto mb-3 mb-md-0">
                                <a class="d-flex text-decoration-none" href="#">
                                    @@if(context.group!='repair-cat'){
                                    <h2 class="sr-only">門市二手價 $@@priceSecond</h2>
                                    }
                                    <div class="w-100 m-0">
                                        <div class="text-dark font-small mb-1">門市二手價</div>
                                        <div class="h3 font-weight-bold text-primary">$@@priceSecond</div>
                                    </div>
                                </a>
                            </div>
                            @@if(context.discount){
                            <div class="col col-md-auto">
                                <a class="d-flex text-decoration-none" href="#">
                                    <div class="d-none d-md-flex flex-shrink-1 pr-2 text-success">
                                        <i class="fas fa-3x fa-arrow-circle-down"></i>
                                    </div>
                                    <div class="w-100">
                                        <div class="text-muted font-small mb-1">與建議售價相比</div>
                                        <div class="h5 font-weight-bold text-success">
                                            <div class="d-inline d-md-none">
                                                <i class="fas fa-arrow-circle-down"></i>
                                            </div>
                                            降價 $@@discount
                                        </div>
                                    </div>
                                </a>
                            </div>
                            }
                        </div>
                    </div>
                    }
                    
                </div>
                }
            </div>
        </div>
        <div class="mt-5">
        @@include('../../../partial/comp/_ad-sponsor.html')
        </div>
    </div>
</div>