<div class="col-12 my-2" id="@@id">
    @@include('../../unit/_section-title-h3.html',{
        icon:"@@icon",
        title:"@@title"
    })
    <div class="row">
        <div class="col-lg-8 my-2">
            <!-- 正常 -->
            <div id="chart_price" class="chart"></div>
            <div class="bg-light d-flex align-items-center justify-content-center w-100 text-center" style="height:250px;">
                <div class="display-4 m-0">台灣未銷售</div>
            </div>
        </div>
        <div class="col-lg-4 my-2">
            @@include('../../../partial/unit/_ad-300-250-item.html')
        </div>
    </div>
</div>