<div class="container search-container">
        <a class="row align-items-center justify-content-between text-decoration-none" href="#" data-toggle="modal" data-target=".modal-price-search">
            <div class="col">
                @@if(context.searchPurchase!=''){
                <div class="text-primary text-row-1">SAMSUNG Galaxy S22 Ultra 256GB</div>
                <div class="text-muted font-small text-row-1">台北市,大安區｜不搭專案（買空機）｜遠傳電信｜5G - 心5G方案1399(24)</div>
                }
                @@if(context.searchPurchase==''){
                <div class="text-primary">台北市</div>
                }
            </div>
            <div class="col-auto">
                <div class="btn btn-primary btn-block rounded-pill py-0">
                    <i class="fa-fw fas fa-search"></i>
                </div>
            </div>
        </a>
</div>