<div class="row mt-2 mb-4 py-2">
    <div class="col-lg-4">
        <div class="text-center my-2">
            <span class="badge badge-outline">大螢幕</span>
            <span class="badge badge-outline">高效能</span>
            <span class="badge badge-outline">iOS</span>
        </div>
        <div class="text-center my-2">
            <a href="javascript:void();" class="btn-color-all d-inline-block position-relative">
                <span class="badge badge-warning pos-a-lt ml-2 mt-2">NEW</span>
            <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/HUAWEI_huawei_p40_pro_plus_0326173026609_360x270.jpg" class="img-fluid mx-auto" alt="">
            </a>
        </div>

        <div class="text-center section-color">
            <a href="javascript:void();" class="btn btn-outline-secondary btn-color-all my-1">全部</a>
            <a href="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s10_0220090020211_640x480.jpg" class="fresco btn btn-outline-secondary my-1">黑色</a>
            <a href="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s10_0220090020714_640x480.jpg" class="fresco btn btn-outline-secondary my-1">綠色</a>
            <a href="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s10_0220090020005_640x480.jpg" class="fresco btn btn-outline-secondary my-1">炫彩色</a>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row align-items-center">
            <div class="col-12 col-md-7 my-1 pt-1 my-md-0 text-center text-md-left">
<!--                                        <input type="text" class="kv-fa rating-loading" value="2" data-size="xs" title="">-->
                <div class="btn-group btn-group">
                    <a href="#" class="btn btn-outline-secondary">
                        <i class="fas fa-fw fa-plus"></i> 比較
                    </a>
                    <a href="" class="btn btn-outline-secondary" data-toggle="modal" data-target=".modal-login">
                        <i class="far fa-fw fa-heart"></i> 追價
                    </a>
                    <a href="" class="btn btn-outline-secondary" data-toggle="modal" data-target=".modal-track">
                        <i class="fas fa-fw fa-heart"></i> 追價
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-5 my-1 my-md-0 text-center text-md-right">
                <div class="social-holder">
                    <div class="fb-like" data-href="https://www.facebook.com/isogi/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
                    <a class="btn btn-line btn-sm" href="#"><i class="fab fa-line"></i></a>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                <div class="row align-items-center">
                    <div class="col-12 my-2">
                        <small class="text-muted">
                            上市日期：2015/12/31
                        </small>
                    </div>
                    <div class="col-12 my-2">
                        <div class="mb-1">
                            門市空機價 (最低)
                        </div>
                        <div class="overflow-auto">
                            <div class="d-flex flex-nowrap">
                                <div class="col-auto px-1">
                                    <a class="d-block btn-price rounded border p-2" href="#">
                                        <div>128GB</div>
                                        <small class="d-block text-muted">
                                             原廠售價：<del>$39,990</del>
                                        </small>
                                        <div class="lead text-primary font-weight-bold m-0">$29,000</div>
                                    </a>
                                </div>
                                <div class="col-auto px-1">
                                    <a class="d-block btn-price rounded border p-2" href="#">
                                        <div>128GB</div>
                                        <small class="d-block text-muted">
                                             原廠售價：<del>$39,990</del>
                                        </small>
                                        <div class="lead text-primary font-weight-bold m-0">$29,000</div>
                                    </a>
                                </div>
                                <div class="col-auto px-1">
                                    <a class="d-block btn-price rounded border p-2" href="#">
                                        <div>128GB</div>
                                        <small class="d-block text-muted">
                                             原廠售價：<del>$39,990</del>
                                        </small>
                                        <div class="lead text-primary font-weight-bold m-0">$29,000</div>
                                    </a>
                                </div>
                                <div class="col-auto px-1">
                                    <a class="d-block btn-price rounded border p-2" href="#">
                                        <div>128GB</div>
                                        <small class="d-block text-muted">
                                             原廠售價：<del>$39,990</del>
                                        </small>
                                        <div class="lead text-primary font-weight-bold m-0">$29,000</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 my-2">
                        <div class="mb-1">
                            門市二手價
                        </div>
                        <div class="overflow-auto">
                            <div class="d-flex flex-nowrap">
                                <div class="col-auto px-1">
                                    <a class="d-block btn-price rounded border p-2" href="#">
                                        <div>128GB</div>
                                        <div class="lead text-primary font-weight-bold m-0">$29,000</div>
                                    </a>
                                </div>
                                <div class="col-auto px-1">
                                    <a class="d-block btn-price rounded border p-2" href="#">
                                        <div>128GB</div>
                                        <div class="lead text-primary font-weight-bold m-0">$29,000</div>
                                    </a>
                                </div>
                                <div class="col-auto px-1">
                                    <a class="d-block btn-price rounded border p-2" href="#">
                                        <div>128GB</div>
                                        <div class="lead text-primary font-weight-bold m-0">$29,000</div>
                                    </a>
                                </div>
                                <div class="col-auto px-1">
                                    <a class="d-block btn-price rounded border p-2" href="#">
                                        <div>128GB</div>
                                        <div class="lead text-primary font-weight-bold m-0">$29,000</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-6 col-sm-3 my-1 px-1">
                        <a class="bg-light d-block p-2 text-center text-sm-left" href="#">
                            <small class="text-muted">
                                換螢幕
                            </small>
                            <div class="h3 text-price font-weight-bold my-1">$29,000</div>
                            <div class="btn btn-sm btn-outline-primary">立即查詢</div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-3 my-1 px-1">
                        <a class="bg-light d-block p-2 text-center text-sm-left" href="#">
                            <small class="text-muted">
                                換電池
                            </small>
                            <div class="h3 text-price font-weight-bold my-1">$29,000</div>
                            <div class="btn btn-sm btn-outline-primary">立即查詢</div>
                        </a>
                    </div> -->
                </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <ul class="pl-6 m-0">
                    <li>
                        <small class="text-muted">作業系統與版本</small>
                        Android 作業系統
                    </li>
                    <li>
                        <small class="text-muted">處理器核心數</small>
                        八核心處理器
                    </li>
                    <li>
                        <small class="text-muted">主螢幕尺寸</small>
                        5.5 吋 IPS TFT
                    </li>
                    <li>
                        <small class="text-muted">處理器品牌</small>
                        Qualcomm S435 (MSM8940)
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <ul class="pl-6 m-0">
                    <li>
                        <small class="text-muted">主螢幕解析度</small>
                        螢幕解析度 1920 x 1080 pixels
                    </li>
                    <li>
                        <small class="text-muted">ROM儲存空間</small>
                        3GB RAM / 32GB ROM
                    </li>
                    <li>
                        <small class="text-muted">主相機畫素</small>
                        主相機 1200 萬畫素 CMOS
                    </li>
                    <li>
                        <small class="text-muted">電池容量</small>
                        4000 mAh (固定式)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>