<div class="col-12 my-2" id="@@id">
    @@include('../../unit/_section-title-h3.html',{
        icon:"@@icon",
        title:"@@title"
    })
    <div class="row">
        <div class="col-lg-8 my-2">
            <div class="js-readmore">
                <table class="table table-bordered">
                    <tr class="table-active">
                        <th colspan="2">基本資訊</th>
                    </tr>
                    <tr>
                        <th width="20%">手機分類</th>
                        <td>雙卡雙待機</td>
                    </tr>
                    <tr>
                        <th>頻率系統</th>
                        <td>GSM850, HSUPA, FDD-LTE 2100(B1), FDD-LTE 1800(B3), FDD-LTE 2600(B7), WCDMA, GSM1900, FDD-LTE 900(B8), GSM1800
</td>
                    </tr>
                    <tr>
                        <th>作業系統(平台)</th>
                        <td>Android 4.4</td>
                    </tr>
                    <tr>
                        <th>處理器</th>
                        <td>MediaTek MT6732, 1.5GHz</td>
                    </tr>
                    <tr>
                        <th>處理器分類</th>
                        <td>四核心處理器</td>
                    </tr>
                    <tr class="table-active">
                        <th colspan="2">影音資訊</th>
                    </tr>
                    <tr>
                        <th>主螢幕尺寸</th>
                        <td>5吋</td>
                    </tr>
                    <tr>
                        <th width="20%">手機分類</th>
                        <td>雙卡雙待機</td>
                    </tr>
                    <tr>
                        <th>頻率系統</th>
                        <td>GSM850, HSUPA, FDD-LTE 2100(B1), FDD-LTE 1800(B3), FDD-LTE 2600(B7), WCDMA, GSM1900, FDD-LTE 900(B8), GSM1800
</td>
                    </tr>
                    <tr>
                        <th>作業系統(平台)</th>
                        <td>Android 4.4</td>
                    </tr>
                    <tr>
                        <th>處理器</th>
                        <td>MediaTek MT6732, 1.5GHz</td>
                    </tr>
                    <tr>
                        <th>處理器分類</th>
                        <td>四核心處理器</td>
                    </tr>
                    <tr>
                        <th>主螢幕尺寸</th>
                        <td>5吋</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-4 my-2">
            @@include('../../../partial/unit/_ad-300-250-item.html')
        </div>
    </div>
</div>