<div class="@@if(context.paddingX){py-@@paddingX} @@if(context.paddingY){py-@@paddingY} @@if(context.paddingTop){pt-@@paddingTop} @@if(context.paddingBottom){pb-@@paddingBottom} @@if(context.fpBgClass){@@fpBgClass}" @@if(context.id){id="@@id"}>
    <div class="container">
        @@include('../../unit/_section-title-h2.html',{
            hr:'@@hr',
            title:'@@title'
        })
        <div class="row align-items-center">
            @@include('../../unit/_product-rich-item.html',{
                badge1Color:'#337ab7', badge1Title:'手機王推薦',
                badge2bColor:'#ffcc00', badge2fColor:'#fff', badge2Title:'一二三四',
                tag1:'星環白', tag2:'星環銀', tag3:'星環黑', tag4:'星環紅',
                imgMd:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_1_2_0224083724232_360x270.jpg',
                imgSm:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_1_2_0224083724232_160x120.jpg',
                title:'Apple iPhone 7 Plus 128GB',
                price:'23,500', date:'2022/1/15',
                spec1Icon:'fas fa-microchip', spec1Name:'Apple A13 Bionic',
                spec2Icon:'fas fa-mobile-alt', spec2Name:'5.8吋OLED',
                spec3Icon:'fas fa-weight-hanging', spec3Name:'187 g',
                spec4Icon:'fas fa-palette', spec4Name:'太平洋藍,石墨,金,銀',
                progressColor:'success', progressValue:'90', progressNumber:'9.0',
                priceStore:'23,000', priceLow:'23,100',
            })
            <div class="col-12 col-lg text-center">
                @@include('../../comp/_ad-336-280.html')
            </div>
        </div>
        @@include('../../page/common/_products-list.html',{
            rowStyle:'@@rowStyle',
            item:'@@item',
            badge1Title:true,
        })
        @@include('../../page/common/_article-list.html',{
            rowStyle:'hs-4',
            item:'3',
        })
    </div>
</div>