<div class="@@if(context.paddingX){py-@@paddingX} @@if(context.paddingY){py-@@paddingY} @@if(context.paddingTop){pt-@@paddingTop} @@if(context.paddingBottom){pb-@@paddingBottom} @@if(context.fpBgClass){@@fpBgClass}" @@if(context.id){id="@@id"}>
    <div class="container">
        @@include('../../unit/_section-title-h2.html',{
            hr:'@@hr',
            title:'@@title'
        })
        <div id="collapse@@collapseId@@year1">
            <div class="h4 pb-3 my-7 border-bottom">@@year1</div>
            <div class="row">
                @@loop('../../unit/_old-list-item.html', [
                    {title:'SAMSUNG Galaxy Note 10 256GB'},
                    {title:'SAMSUNG Galaxy Note 10 128GB'},
                    {title:'SAMSUNG Galaxy Note 10 128GB'},
                    {title:'SAMSUNG Galaxy Note 10 128GB'},
                    {title:'SAMSUNG Galaxy Note 10 128GB'},
                    {title:'SAMSUNG Galaxy Note 10 64GB'},
                ])
            </div>
            <div class="text-center my-2">
                <a class="btn btn-lg btn-link text-decoration-none btn-loadmore" href="#collapse@@collapseId@@year2" data-toggle="collapse">
                    載入@@year2 <i class="fas fa-angle-down"></i>
                </a>
            </div>
        </div>
        <div id="collapse@@collapseId@@year2" class="collapse">
            <div class="h4 pb-3 my-7 border-bottom">@@year2</div>
            <div class="row">
                @@loop('../../unit/_old-list-item.html', [
                    {title:'SAMSUNG Galaxy S7+'},
                    {title:'SAMSUNG Galaxy S7'},
                    {title:'SAMSUNG Galaxy S7+'},
                    {title:'SAMSUNG Galaxy S7'},
                    {title:'SAMSUNG Galaxy S7+'},
                    {title:'SAMSUNG Galaxy S7'},
                ])
            </div>
            <div class="text-center my-2">
                <a class="btn btn-lg btn-link text-decoration-none btn-loadmore" href="#collapse@@collapseId@@year3" data-toggle="collapse">
                    載入@@year3 <i class="fas fa-angle-down"></i>
                </a>
            </div>
        </div>
        <div id="collapse@@collapseId@@year3" class="collapse">
            <div class="h4 pb-3 my-7 border-bottom">@@year3</div>
            <div class="row">
                @@loop('../../unit/_old-list-item.html', [
                    {title:'SAMSUNG Galaxy A5'},
                    {title:'SAMSUNG Galaxy A4'},
                ])
            </div>
        </div>
    </div>
</div>