<div class="col-12 my-2" id="@@id">
    @@include('../../unit/_section-title-h3.html',{
        icon:"@@icon",
        title:"@@title"
    })
<div class="row slider-fluid slider">
<div class="col-12">
    <div class="box my-2 p-2">
                <span class="badge badge-warning pos-a-lt ml-2 mt-2">NEW</span>
                <a href="">
                    <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_5_mark_two_0917074117675_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                </a>
                <div class="clearfix my-2">
                    <span class="badge badge-outline">大螢幕</span>
                    <span class="badge badge-outline">高效能</span>
                    <span class="badge badge-outline">iOS</span>
                </div>
                <a href="" class="text-row-2">Apple iPhone 7 Plus 128GB</a>
                <hr>
                <div class="d-block">
                    <small>
                        空機價：<a class="text-price h6" href="">$12,999</a><br>
                        二手價：<a class="text-price h6" href="">$12,999</a><br>
                        上市日：2017/12
                    </small>
                </div>
                <div class="btn-group btn-group-justified btn-group-sm mt-1">
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
            </div>
</div>
<div class="col-12">
    <div class="box my-2 p-2">
                <span class="badge badge-warning pos-a-lt ml-2 mt-2">NEW</span>
                <a href="">
                    <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_5_mark_two_0917074117675_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                </a>
                <div class="clearfix my-2">
                    <span class="badge badge-outline">大螢幕</span>
                    <span class="badge badge-outline">高效能</span>
                    <span class="badge badge-outline">iOS</span>
                </div>
                <a href="" class="text-row-2">Apple iPhone 7 Plus 128GB</a>
                <hr>
                <div class="d-block">
                    <small>
                        空機價：<a class="text-price h6" href="">$12,999</a><br>
                        二手價：<a class="text-price h6" href="">$12,999</a><br>
                        上市日：2017/12
                    </small>
                </div>
                <div class="btn-group btn-group-justified btn-group-sm mt-1">
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
            </div>
</div>
<div class="col-12">
    <div class="box my-2 p-2">
                <span class="badge badge-warning pos-a-lt ml-2 mt-2">NEW</span>
                <a href="">
                    <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_5_mark_two_0917074117675_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                </a>
                <div class="clearfix my-2">
                    <span class="badge badge-outline">大螢幕</span>
                    <span class="badge badge-outline">高效能</span>
                    <span class="badge badge-outline">iOS</span>
                </div>
                <a href="" class="text-row-2">Apple iPhone 7 Plus 128GB</a>
                <hr>
                <div class="d-block">
                    <small>
                        空機價：<a class="text-price h6" href="">$12,999</a><br>
                        二手價：<a class="text-price h6" href="">$12,999</a><br>
                        上市日：2017/12
                    </small>
                </div>
                <div class="btn-group btn-group-justified btn-group-sm mt-1">
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
            </div>
</div>
<div class="col-12">
    <div class="box my-2 p-2">
                <span class="badge badge-warning pos-a-lt ml-2 mt-2">NEW</span>
                <a href="">
                    <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_5_mark_two_0917074117675_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                </a>
                <div class="clearfix my-2">
                    <span class="badge badge-outline">大螢幕</span>
                    <span class="badge badge-outline">高效能</span>
                    <span class="badge badge-outline">iOS</span>
                </div>
                <a href="" class="text-row-2">Apple iPhone 7 Plus 128GB</a>
                <hr>
                <div class="d-block">
                    <small>
                        空機價：<a class="text-price h6" href="">$12,999</a><br>
                        二手價：<a class="text-price h6" href="">$12,999</a><br>
                        上市日：2017/12
                    </small>
                </div>
                <div class="btn-group btn-group-justified btn-group-sm mt-1">
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
            </div>
</div>
<div class="col-12">
    <div class="box my-2 p-2">
                <span class="badge badge-warning pos-a-lt ml-2 mt-2">NEW</span>
                <a href="">
                    <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_5_mark_two_0917074117675_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                </a>
                <div class="clearfix my-2">
                    <span class="badge badge-outline">大螢幕</span>
                    <span class="badge badge-outline">高效能</span>
                    <span class="badge badge-outline">iOS</span>
                </div>
                <a href="" class="text-row-2">Apple iPhone 7 Plus 128GB</a>
                <hr>
                <div class="d-block">
                    <small>
                        空機價：<a class="text-price h6" href="">$12,999</a><br>
                        二手價：<a class="text-price h6" href="">$12,999</a><br>
                        上市日：2017/12
                    </small>
                </div>
                <div class="btn-group btn-group-justified btn-group-sm mt-1">
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
            </div>
</div>
<div class="col-12">
    <div class="box my-2 p-2">
                <span class="badge badge-warning pos-a-lt ml-2 mt-2">NEW</span>
                <a href="">
                    <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_5_mark_two_0917074117675_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                </a>
                <div class="clearfix my-2">
                    <span class="badge badge-outline">大螢幕</span>
                    <span class="badge badge-outline">高效能</span>
                    <span class="badge badge-outline">iOS</span>
                </div>
                <a href="" class="text-row-2">Apple iPhone 7 Plus 128GB</a>
                <hr>
                <div class="d-block">
                    <small>
                        空機價：<a class="text-price h6" href="">$12,999</a><br>
                        二手價：<a class="text-price h6" href="">$12,999</a><br>
                        上市日：2017/12
                    </small>
                </div>
                <div class="btn-group btn-group-justified btn-group-sm mt-1">
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
            </div>
</div>
<div class="col-12">
    <div class="box my-2 p-2">
                <span class="badge badge-warning pos-a-lt ml-2 mt-2">NEW</span>
                <a href="">
                    <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_5_mark_two_0917074117675_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                </a>
                <div class="clearfix my-2">
                    <span class="badge badge-outline">大螢幕</span>
                    <span class="badge badge-outline">高效能</span>
                    <span class="badge badge-outline">iOS</span>
                </div>
                <a href="" class="text-row-2">Apple iPhone 7 Plus 128GB</a>
                <hr>
                <div class="d-block">
                    <small>
                        空機價：<a class="text-price h6" href="">$12,999</a><br>
                        二手價：<a class="text-price h6" href="">$12,999</a><br>
                        上市日：2017/12
                    </small>
                </div>
                <div class="btn-group btn-group-justified btn-group-sm mt-1">
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
            </div>
</div>
<div class="col-12">
    <div class="box my-2 p-2">
                <span class="badge badge-warning pos-a-lt ml-2 mt-2">NEW</span>
                <a href="">
                    <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_5_mark_two_0917074117675_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                </a>
                <div class="clearfix my-2">
                    <span class="badge badge-outline">大螢幕</span>
                    <span class="badge badge-outline">高效能</span>
                    <span class="badge badge-outline">iOS</span>
                </div>
                <a href="" class="text-row-2">Apple iPhone 7 Plus 128GB</a>
                <hr>
                <div class="d-block">
                    <small>
                        空機價：<a class="text-price h6" href="">$12,999</a><br>
                        二手價：<a class="text-price h6" href="">$12,999</a><br>
                        上市日：2017/12
                    </small>
                </div>
                <div class="btn-group btn-group-justified btn-group-sm mt-1">
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
            </div>
</div>
<div class="col-12">
    <div class="box my-2 p-2">
                <span class="badge badge-warning pos-a-lt ml-2 mt-2">NEW</span>
                <a href="">
                    <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_5_mark_two_0917074117675_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                </a>
                <div class="clearfix my-2">
                    <span class="badge badge-outline">大螢幕</span>
                    <span class="badge badge-outline">高效能</span>
                    <span class="badge badge-outline">iOS</span>
                </div>
                <a href="" class="text-row-2">Apple iPhone 7 Plus 128GB</a>
                <hr>
                <div class="d-block">
                    <small>
                        空機價：<a class="text-price h6" href="">$12,999</a><br>
                        二手價：<a class="text-price h6" href="">$12,999</a><br>
                        上市日：2017/12
                    </small>
                </div>
                <div class="btn-group btn-group-justified btn-group-sm mt-1">
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a class="btn btn-outline-secondary" href="">
                        <i class="fas fa-heart"></i>
                    </a>
                </div>
            </div>
    </div>
</div>
</div>