<div class="col-12 my-2" id="@@id">
    @@include('../../unit/_section-title-h3.html',{
        icon:"@@icon",
        title:"@@title"
    })
    <div class="row">
        <div class="col-lg-8 my-2">
            <div class="js-readmore">
                <div class="editable pb-5">
                <h2><a name="OPPO Reno2 Z 搭載 20 倍數位變焦">升降鏡頭設計&nbsp;OPPO Reno2 Z</a></h2>
<span style="color:#0000FF;">6.5 吋 FHD+ 螢幕</span><br />
OPPO Reno2 Z 配置 6.5 吋 FHD+ 螢幕，表面覆蓋康寧大猩猩第六代玻璃，螢幕佔比達&nbsp;91.6%，搭載 AMOLED 螢幕材質，搭配 DC 調光技術，通過德國萊茵 T&Uuml;V 護眼認證，升級的低亮度無頻閃可有效緩解視覺疲勞、保護眼睛。<br />
<br />
@@include('../../../partial/unit/_ad-336-280-item.html',{marginY:true,padding:true})
<br />
<span style="color:#0000FF;">4,000mAh 電量</span><br />
OPPO Reno2 Z 運行 Android 9.0 Pie 作業系統、ColorOS 6.1&nbsp;操作介面，內建&nbsp;MediaTek Helio P90, 2.2GHz + 2GHz 八核心處理器、8GB RAM / 128GB ROM，搭配 NPU 加速器，可降低功耗；採用獨立三卡插槽設計，支援&nbsp;4G + 4G 雙卡雙待，還能同時透過&nbsp;microSD 擴充儲存空間。OPPO Reno2 Z 配置 4,000mAh 電量，透過 VOOC 3.0 快充技術，30 分鐘即可充 51% 電力，有效降低手機充電所需時間。<br />
<br />
<span style="color:#0000FF;">4,800 萬變焦四鏡頭</span><br />
OPPO Reno2 Z&nbsp;後置 4,800&nbsp;萬畫素鏡頭（Sony IMX586 感光元件、F1.7 光圈）+ 800 萬畫素 119&deg; 超廣角鏡頭（F2.2 光圈）+ 兩顆 200&nbsp;萬畫素景深鏡頭（F2.4 光圈），搭配 Ultra Dark 模式，透過 AI 降噪與微調性能 NPU 加速，讓光線不佳甚至接近無光的環境都能拍出明亮畫面。OPPO Reno2 Z&nbsp;前置 1,600 萬畫素鏡頭（F2.0 光圈），採用升降式設計，搭載 AI Beauty Mode，並可錄製散景效果影片。<br />
<br />
<span style="color:#0000FF;">OPPO Reno2 Z 功能特色</span><br />
◎ 4G + 4G 雙卡雙待<br />
◎ Android 9.0 Pie 作業系統、ColorOS 6.1 操作介面<br />
◎ 6.5 吋 2,340 x 1,080pixels 解析度 AMOLED 觸控螢幕（394&nbsp;ppi）<br />
◎ MediaTek Helio P90, 2.2GHz + 2GHz 八核心處理器<br />
◎ 8GB RAM / 128GB ROM<br />
◎ 4,800 萬畫素 + 800 萬畫素 + 200&nbsp;萬畫素 + 200&nbsp;萬畫素主相機、1,600 萬畫素前鏡頭<br />
◎ 3CA、Wi-Fi 802.11 a/b/g/n/ac（2.4GHz &amp; 5GHz）、藍牙 5.0、NFC<br />
◎ 光感螢幕指紋辨識、臉部解鎖<br />
◎ 採用 USB Type-C 規格，支援 VOOC 3.0 快充<br />
◎ 支援 microSD 記憶卡，最高可擴充至 256GB
                </div>
                <div class="font-small text-secondary">
                    ※本文為 SOGI 手機王版權所有，未經授權不得轉載使用※
                </div>
            </div>
        </div>
        <div class="col-lg-4 my-2">
            @@include('../../../partial/unit/_ad-300-250-item.html')
            <!-- <div class="sidebar">
                <div class="text-center ad">
                    <a class="" href="#">
                        <img class="img-fluid" src="https://via.placeholder.com/300x600" alt="">
                    </a>
                </div>
            </div> -->
        </div>
    </div>
</div>