<!-- 
    fpBgColor:'string',
    id:'text',
    hr:'true',
    title:'string'
-->
<div class="@@if(context.paddingX){py-@@paddingX} @@if(context.paddingY){py-@@paddingY} @@if(context.paddingTop){pt-@@paddingTop} @@if(context.paddingBottom){pb-@@paddingBottom} @@if(context.fpBgClass){@@fpBgClass}" @@if(context.id){id="@@id"}>
    <div class="container pb-10">
        @@include('../../unit/_section-title-h2.html',{
            hr:'@@hr',
            title:'@@title'
        })
        @@include('../../page/common/_products-list.html',{
            rowStyle:'hs',
            item:'5',
            badge1Title:true,
        })
    </div>
</div>