<div class="col-12 my-2" id="@@id">
    <h3 class="section-title">
        <i class="fa-fw @@icon text-warning"></i> @@title
    </h3>
    <div class="row">
        <div class="col-12 col-lg-8">
            <!-- <div class="swiper swiper-rwd-2">
                <div class="swiper-wrapper">
                    <div class="my-2 swiper-slide">
                        <div class="row no-gutters box p-1">
                            <div class="col-4">
                                <a class="d-block my-1" href="#">
                                    <div class="text-center">
                                        <img class="img-fluid" src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s20_fan_edition_0924043024901_160x120.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-8">
                                <div class="m-1">
                                    <div class="text-row-2">
                                        <a href="">
                                            Apple iPhone 7 128G
                                        </a>
                                    </div>
                                    <div class="d-block text-row-2">
                                        <span class="badge badge-cht">中華電信</span>
                                        <span class="badge badge-twm">台灣大哥大</span>
                                        <span class="badge badge-fetnet">遠傳電信</span>
                                        <span class="badge badge-tstartel">台灣之星</span>
                                        <span class="badge badge-aptg">亞太電信</span>
                                        <span class="badge badge-secondary">其他</span>
                                    </div>
                                    <div class="d-block my-2">
                                        月繳 <span class="font-weight-bold">699~398</span><br>
                                        專案價 <span class="text-price font-weight-bold">$23,999~$29,000</span><br>
                                    </div>
                                    <a class="btn btn-primary" href="#">立即了解</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="my-2 swiper-slide">
                        <div class="row no-gutters box p-1">
                            <div class="col-4">
                                <a class="d-block my-1" href="#">
                                    <div class="text-center">
                                        <img class="img-fluid" src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s20_fan_edition_0924043024901_160x120.jpg">
                                    </div>
                                </a>
                            </div>
                            <div class="col-8">
                                <div class="m-1">
                                    <div class="text-row-2">
                                        <a href="">
                                            Apple iPhone 7 128G
                                        </a>
                                    </div>
                                    <div class="d-block text-row-2">
                                        <span class="badge badge-cht">中華電信</span>
                                        <span class="badge badge-twm">台灣大哥大</span>

                                    </div>
                                    <div class="d-block my-2">
                                        月繳 <span class="font-weight-bold">699~398</span><br>
                                        專案價 <span class="text-price font-weight-bold">$23,999~$29,000</span><br>
                                    </div>
                                    <a class="btn btn-primary" href="#">立即了解</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div> -->

            <div class="row slider-rwd-2 slider">
                <div class="col-12 my-2">
                    <div class="row no-gutters box p-1">
                        <div class="col-4">
                            <a class="d-block my-1" href="#">
                                <div class="text-center">
                                    <img class="img-fluid" src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s20_fan_edition_0924043024901_160x120.jpg">
                                </div>
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="m-1">
                                <div class="text-row-2">
                                    <a href="">
                                        Apple iPhone 7 128G
                                    </a>
                                </div>
                                <div class="d-block text-row-2">
                                    <span class="badge badge-cht">中華電信</span>
                                    <span class="badge badge-twm">台灣大哥大</span>
                                    <span class="badge badge-fetnet">遠傳電信</span>
                                    <span class="badge badge-tstartel">台灣之星</span>
                                    <span class="badge badge-aptg">亞太電信</span>
                                    <span class="badge badge-secondary">其他</span>
                                </div>
                                <div class="d-block my-2">
                                    月繳 <span class="font-weight-bold">699~398</span><br>
                                    專案價 <span class="text-price font-weight-bold">$23,999~$29,000</span><br>
                                </div>
                                <a class="btn btn-primary" href="#">立即了解</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 my-2">
                    <div class="row no-gutters box p-1">
                        <div class="col-4">
                            <a class="d-block my-1" href="#">
                                <div class="text-center">
                                    <img class="img-fluid" src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s20_fan_edition_0924043024901_160x120.jpg">
                                </div>
                            </a>
                        </div>
                        <div class="col-8">
                            <div class="m-1">
                                <div class="text-row-2">
                                    <a href="">
                                        Apple iPhone 7 128G
                                    </a>
                                </div>
                                <div class="d-block text-row-2">
                                    <span class="badge badge-cht">中華電信</span>
                                    <span class="badge badge-twm">台灣大哥大</span>

                                </div>
                                <div class="d-block my-2">
                                    月繳 <span class="font-weight-bold">699~398</span><br>
                                    專案價 <span class="text-price font-weight-bold">$23,999~$29,000</span><br>
                                </div>
                                <a class="btn btn-primary" href="#">立即了解</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-2">
                <a class="btn btn-outline-primary" href="#">更多門市比價</a>
            </div>
        </div>
        <div class="col-12 col-lg-4 my-2">
            @@include('../../../partial/unit/_ad-300-250-item.html')
        </div>
    </div>
</div>