<div class="my-2">
    @@include('unit/_bar-title.html',{
        title:'@@title'
    })
    <div class="my-2">
        <table class="table table-bordered">
            <tr>
                <th width="20%">主螢幕尺寸</th>
                <td>5吋</td>
            </tr>
            <tr>
                <th>手機分類</th>
                <td>雙卡雙待機</td>
            </tr>
            <tr>
                <th>頻率系統</th>
                <td>GSM850, HSUPA, FDD-LTE 2100(B1), FDD-LTE 1800(B3), FDD-LTE 2600(B7), WCDMA, GSM1900, FDD-LTE 900(B8), GSM1800
        </td>
            </tr>
            <tr>
                <th>作業系統(平台)</th>
                <td>Android 4.4</td>
            </tr>
            <tr>
                <th>處理器</th>
                <td>MediaTek MT6732, 1.5GHz</td>
            </tr>
            <tr>
                <th>處理器分類</th>
                <td>四核心處理器</td>
            </tr>
        </table>
        <a class="btn btn-outline-primary" href="#">詳細規格</a>
    </div>
</div>