<div class="my-2">
    @@include('unit/_bar-title.html',{
        bg:'danger',
        title:'@@title'
    })
    <div class="">
        <div class="my-2">
            <img class="img-fluid" src="https://via.placeholder.com/820x495" alt="">
        </div>
        <div class="text-center">
            <a class="btn btn-danger" href="#">
                <i class="fas fa-credit-card"></i> 立即LINE訂購
            </a>
        </div>
        <div class="my-2">
            文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明
        </div>
    </div>
</div>