.img-fit {
    max-height: 140px;
    object-fit: contain;
}
.img-prod-thumb {
    max-width: 100px;
    width: 90px;
    height: 75px !important;
    object-fit: cover;
}
.size-16by9 {
    position: relative;
    overflow: hidden;
    display: block;
    padding-top: 56.25%;
    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.card-img-fit {
    height: 100%;
    object-fit: cover;
}

.card-img-container {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    width: 100%;
    display: block;
    .card-img {
        position: absolute;
        top:0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.img-square {
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    img {
        position:absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.edit-content {
    img {
        max-width: 100%;
        height: auto;
    }
}