<div class="@@if(context.paddingX){py-@@paddingX} @@if(context.paddingY){py-@@paddingY} @@if(context.paddingTop){pt-@@paddingTop} @@if(context.paddingBottom){pb-@@paddingBottom} @@if(context.fpBgClass){@@fpBgClass}" @@if(context.id){id="@@id"}>
    <div class="container">
        @@include('../../unit/_section-title-h2.html',{
            hr:'@@hr',
            title:'@@title'
        })
        <div class="owl-4col owl-carousel owl-theme">
            @@loop('unit/_article-4col-item.html', [
                {
                    href:'#',
                    img:'//d2lfcsub12kx0l.cloudfront.net/tw/article/img/202204/2022040709310726623_ExtraLargeSize-640x640.jpg',
                    title:'三星S21系列手機開放One UI 4.1系統更新',
                },
                {
                    href:'#',
                    img:'//d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/24192/extra_large/0__-2020-10-14-__2.jpg',
                    title:'三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen',
                },
                {
                    href:'#',
                    img:'https://d3c6c8kv4if4l0.cloudfront.net/www/GemArticle/96651/extra_large/____640x480.jpg',
                    title:'【桃園、新竹、苗栗】丞鋐通訊iPad 10 (2022) 10.9_WiFi 64G大特價',
                },
                {
                    href:'#',
                    img:'https://d3c6c8kv4if4l0.cloudfront.net/www/GemArticle/96644/extra_large/____640x480.jpg',
                    title:'【高雄、屏東】iPhone 15 Pro Max 256GB只要40100',
                },
                {
                    href:'#',
                    img:'https://d3c6c8kv4if4l0.cloudfront.net/www/GemArticle/96648/extra_large/____640x480.jpg',
                    title:'【桃園、新竹、苗栗】丞鋐通訊iPad 10 (2022) 10.9_WiFi 64G大特價',
                },
                {
                    href:'#',
                    img:'https://d3c6c8kv4if4l0.cloudfront.net/www/GemArticle/96652/extra_large/____640x480.jpg',
                    title:'【高雄、屏東】iPhone 15 Pro Max 256GB只要40100',
                },
            ])
        </div>
        <div class="text-center mt-4">
            @@include('../../unit/_btn.html',{
                btnPaddingX:'10',
                btnColor:'warning',
                btnRounded:'pill',
                href:'#',
                btnName:'查看更多',
            })
        </div>
    </div>
</div>