<div class="@@if(context.paddingX){py-@@paddingX} @@if(context.paddingY){py-@@paddingY} @@if(context.paddingTop){pt-@@paddingTop} @@if(context.paddingBottom){pb-@@paddingBottom} @@if(context.fpBgClass){@@fpBgClass}" @@if(context.id){id="@@id"}>
    <div class="container">
        @@include('../../unit/_section-title-h2.html',{
            hr:'@@hr',
            title:'@@title'
        })
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="card shadow my-2">
                    <div class="row no-gutters">
                        <div class="col-5 col-md-12">
                            <a class="h-100 size-16by9" href="#">
                                <img src="https://d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/24192/extra_large/0__-2020-10-14-__2.jpg" class="card-img card-img-fit" alt="">
                            </a>
                        </div>
                        <div class="col-7 col-md-12 align-self-center">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <a class="text-black font-weight-bold text-row-3 text-fix-3" href="detail.html">
                                        三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="card shadow my-2">
                    <div class="row no-gutters">
                        <div class="col-5 col-md-12">
                            <a class="h-100 size-16by9" href="#">
                                <img src="https://d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/24192/extra_large/0__-2020-10-14-__2.jpg" class="card-img card-img-fit" alt="">
                            </a>
                        </div>
                        <div class="col-7 col-md-12 align-self-center">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <a class="text-black font-weight-bold text-row-3 text-fix-3" href="detail.html">
                                        三星GALAXY Tab A實測 入門級S 
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="card shadow my-2">
                    <div class="row no-gutters">
                        <div class="col-5 col-md-12">
                            <a class="h-100 size-16by9" href="#">
                                <img src="https://d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/24192/extra_large/0__-2020-10-14-__2.jpg" class="card-img card-img-fit" alt="">
                            </a>
                        </div>
                        <div class="col-7 col-md-12 align-self-center">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <a class="text-black font-weight-bold text-row-3 text-fix-3" href="detail.html">
                                        三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-12">
                <div class="card shadow my-2">
                    <div class="row no-gutters">
                        <div class="col-5 col-md-12">
                            <a class="h-100 size-16by9" href="#">
                                <img src="https://d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/24192/extra_large/0__-2020-10-14-__2.jpg" class="card-img card-img-fit" alt="">
                            </a>
                        </div>
                        <div class="col-7 col-md-12 align-self-center">
                            <div class="card-body p-2">
                                <div class="card-title">
                                    <a class="text-black font-weight-bold text-row-3 text-fix-3" href="detail.html">
                                        三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            @@include('../../unit/_btn.html',{
                btnPaddingX:'10',
                btnColor:'warning',
                btnRounded:'pill',
                href:'#',
                btnName:'查看更多',
            })
        </div>
    </div>
</div>