<div class="row @@if(context.rowStyle=='hs-4' || rowStyle=='hs-6'){row-hs row-hs-bar align-items-center}">
    @@loop('../../unit/_article-list-item.html', [
    @@if(context.item=='1' || context.item=='2' || context.item=='3' || context.item=='4'){
        {
            @@if(context.rowStyle=='rwd'){
                rwd:true,
                col:'12', colMd:'4',
            }
            @@if(context.rowStyle=='hs-4'){
                col:'10', colMd:'4',
            }
            @@if(context.rowStyle=='hs-6'){
                col:'10', colMd:'6',
            }
            href:'#',
            img:'//d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/24114/extra_large/12.jpg',
            badgeLabel:'評測文章',
            tag1:'#評測', tag2:'#蘋果', tag3:'#銷售排行',
            title:'三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen',
            date:'2022/1/10',
        },
    }
    @@if(context.item=='2' || context.item=='3' || context.item=='4'){
        {
            @@if(context.rowStyle=='rwd'){
                rwd:true,
                col:'12', colMd:'4',
            }
            @@if(context.rowStyle=='hs-4'){
                col:'10', colMd:'4',
            }
            @@if(context.rowStyle=='hs-6'){
                col:'10', colMd:'6',
            }
            href:'#',
            img:'//d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/26318/extra_large/2022040512080508057o.jpg',
            badgeLabel:'評測文章',
            tag1:'#評測', tag2:'#SAMSUNG', tag3:'#銷售排行', tag4:'#銷售排行銷售排行',
            title:'三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen平板三星GALAXY Tab A實測 入門級S Pen',
            date:'2022/1/10',
        },
    }
    @@if(context.item=='3' || context.item=='4'){
        {
            @@if(context.rowStyle=='rwd'){
                rwd:true,
                col:'12', colMd:'4',
            }
            @@if(context.rowStyle=='hs-4'){
                col:'10', colMd:'4',
            }
            @@if(context.rowStyle=='hs-6'){
                col:'10', colMd:'6',
            }
            href:'#',
            img:'//d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/26337/extra_large/1.jpg',
            badgeLabel:'評測文章',
            tag1:'#評測', tag2:'#蘋果',
            title:'三星GALAXY Tab A實測 入門級',
            date:'2022/1/10',
        },
    }
    @@if(context.item=='4'){
        {
            @@if(context.rowStyle=='rwd'){
                rwd:true,
                col:'12', colMd:'4',
            }
            @@if(context.rowStyle=='hs-4'){
                col:'10', colMd:'4',
            }
            @@if(context.rowStyle=='hs-6'){
                col:'10', colMd:'6',
            }
            href:'#',
            img:'//d3c6c8kv4if4l0.cloudfront.net/www/ProductionArticleCoverImage/26337/extra_large/1.jpg',
            badgeLabel:'評測文章',
            tag1:'#評測', tag2:'#蘋果',
            title:'三星GALAXY Tab A實測 入門級',
            date:'2022/1/10',
        },
    }
    ])
</div>