<!-- 
    rowStyle:'grid | hs | filter',
    item:'number (1 ~ 8)'',
    mixitupId:'number',
-->
<div class="row @@if(context.rowStyle=='hs'){row-hs row-hs-bar align-items-center} @@if(context.rowStyle=='filter'){mixitup}" @@if(context.rowStyle=='filter'){id="mixitup-@@mixitupId"}>
    @@loop('../../unit/_product-list-item.html', [
    @@if(context.item=='1' || context.item=='2' || context.item=='3' || context.item=='4' || context.item=='5' || context.item=='6' || context.item=='7' || context.item=='8'){
        {
            @@if(context.rowStyle=='grid'){
                col:'6', colMd:'3',
            }
            @@if(context.rowStyle=='hs'){
                col:'8', colMd:'5', colLg:'3',
            }
            @@if(context.rowStyle=='filter'){
                col:'6', colLg:'4',
                cat:'cat-galaxy-s', sortPrice:'0', sortDate:'20210220', sortHot:'8000',
            }
            @@if(context.badgeRank){
                badgeRank:'10',
            }
            @@if(context.badge1Title){
                badge1Color:'#337ab7', badge1Title:'手機王',
            }
            badge2bColor:'#ffcc00', badge2fColor:'#fff', badge2Title:'一二三四',
            img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s20_0212063512931_160x120.jpg',
            title:'SAMSUNG Galaxy S20 5G',
            tag1:'大螢幕', tag2:'高效能', tag3:'iOS',
            priceSogi:'', priceLow:''
        },
    }
    @@if(context.item=='2' || context.item=='3' || context.item=='4' || context.item=='5' || context.item=='6' || context.item=='7' || context.item=='8'){
        {
            @@if(context.rowStyle=='grid'){
                col:'6', colMd:'3',
            }
            @@if(context.rowStyle=='hs'){
                col:'8', colMd:'5', colLg:'3',
            }
            @@if(context.rowStyle=='filter'){
                col:'6', colLg:'4',
                cat:'cat-galaxy-s', sortPrice:'16800', sortDate:'20200601', sortHot:'2500',
            }
            @@if(context.badgeRank){
                badgeRank:'9',
            }
            @@if(context.badge1Title){
                badge1Color:'#8cba51', badge1Title:'折扣中',
            }
            img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s10_plus_0220113220241_160x120.jpg', 
            title:'SAMSUNG Galaxy S10+',
            tag1:'大螢幕', tag2:'高效能', tag3:'iOS',
            priceSogi:'16,800', priceLow:'17,990'
        },
    }
    @@if(context.item=='3' || context.item=='4' || context.item=='5' || context.item=='6' || context.item=='7' || context.item=='8'){
        {
            @@if(context.rowStyle=='grid'){
                col:'6', colMd:'3',
            }
            @@if(context.rowStyle=='hs'){
                col:'8', colMd:'5', colLg:'3',
            }
            @@if(context.rowStyle=='filter'){
                col:'6', colLg:'4',
                cat:'cat-galaxy-a', sortPrice:'7600', sortDate:'20201001', sortHot:'3000',
            }
            @@if(context.badgeRank){
                badgeRank:'8',
            }
            @@if(context.badge1Title){
                badge1Color:'#263238', badge1Title:'獨家',
            }
            img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_a51_1213055013699_160x120.jpg', 
            title:'SAMSUNG Galaxy A21', 
            tag1:'大螢幕', tag2:'高效能', tag3:'iOS',
            priceSogi:'7,600', priceLow:'17,990'
        },
    }
    @@if(context.item=='4' || context.item=='5' || context.item=='6' || context.item=='7' || context.item=='8'){
        {
            @@if(context.rowStyle=='grid'){
                col:'6', colMd:'3',
            }
            @@if(context.rowStyle=='hs'){
                col:'8', colMd:'5', colLg:'3',
            }
            @@if(context.rowStyle=='filter'){
                col:'6', colLg:'4',
                cat:'cat-galaxy-note', sortPrice:'24600', sortDate:'20201231', sortHot:'10000',
            }
            @@if(context.badgeRank){
                badgeRank:'7',
            }
            @@if(context.badge1Title){
                badge1Color:'#c80000', badge1Title:'預購',
            }
            img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_note_20_0805144705667_160x120.jpg', 
            title:'SAMSUNG Galaxy Note 20', 
            tag1:'大螢幕', tag2:'高效能', tag3:'iOS',
            priceSogi:'24,600', priceLow:'17,990'
        },
    }
    @@if(context.item=='5' || context.item=='6' || context.item=='7' || context.item=='8'){
        {
            @@if(context.rowStyle=='grid'){
                col:'6', colMd:'3',
            }
            @@if(context.rowStyle=='hs'){
                col:'8', colMd:'5', colLg:'3',
            }
            @@if(context.rowStyle=='filter'){
                col:'6', colLg:'4',
                cat:'cat-galaxy-m', sortPrice:'3700', sortDate:'20201205', sortHot:'3000',
            }
            @@if(context.badgeRank){
                badgeRank:'6',
            }
            @@if(context.badge1Title){
                badge1Title:'&nbsp;',
            }
            img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_m11_0427033427620_160x120.jpg', 
            title:'SAMSUNG Galaxy M11', 
            tag1:'大螢幕', tag2:'高效能', tag3:'iOS',
            priceSogi:'3,700', priceLow:'17,990'
        },
    }
    @@if(context.item=='6' || context.item=='7' || context.item=='8'){
        {
            @@if(context.rowStyle=='grid'){
                col:'6', colMd:'3',
            }
            @@if(context.rowStyle=='hs'){
                col:'8', colMd:'5', colLg:'3',
            }
            @@if(context.rowStyle=='filter'){
                col:'6', colLg:'4',
                sortPrice:'3700', sortDate:'20201205', sortHot:'3000',
            }
            @@if(context.badgeRank){
                badgeRank:'5',
            }
            @@if(context.badge1Title){
                badge1Title:'&nbsp;',
            }
            img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/Apple_apple_iphone_12_pro_1013212413139_160x120.jpg',
            title:'Apple iPhone 7 Plus 128GB',
            tag1:'大螢幕', tag2:'高效能', tag3:'iOS',
            priceSogi:'17,990', priceLow:'18,990'
        },
    }
    @@if(context.item=='7' || context.item=='8'){
        {
            @@if(context.rowStyle=='grid'){
                col:'6', colMd:'3',
            }
            @@if(context.rowStyle=='hs'){
                col:'8', colMd:'5', colLg:'3',
            }
            @@if(context.rowStyle=='filter'){
                col:'6', colLg:'4',
                sortPrice:'3700', sortDate:'20201205', sortHot:'3000',
            }
            @@if(context.badgeRank){
                badgeRank:'4',
            }
            @@if(context.badge1Title){
                badge1Title:'&nbsp;',
            }
            img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/Vivo_vivo_y55_5g_0114073014722_160x120.jpg',
            title:'vivo Y55 5G',
            tag1:'大螢幕', tag2:'高效能', tag3:'iOS',
            priceSogi:'', priceLow:'18,990'
        },
    }
    @@if(context.item=='8'){
        {
            @@if(context.rowStyle=='grid'){
                col:'6', colMd:'3',
            }
            @@if(context.rowStyle=='hs'){
                col:'8', colMd:'5', colLg:'3',
            }
            @@if(context.rowStyle=='filter'){
                col:'6', colLg:'4',
                sortPrice:'3700', sortDate:'20201205', sortHot:'3000',
            }
            @@if(context.badgeRank){
                badgeRank:'3',
            }
            @@if(context.badge1Title){
                badge1Title:'&nbsp;',
            }
            img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/NOKIA_nokia_g21_0303064003006_160x120.jpg',
            title:'Nokia G21',
            tag1:'大螢幕', tag2:'高效能', tag3:'iOS',
            priceSogi:'17,990', priceLow:'18,990'
        },
    }
    ])
</div>