<div class="@@if(context.paddingX){py-@@paddingX} @@if(context.paddingY){py-@@paddingY} @@if(context.paddingTop){pt-@@paddingTop} @@if(context.paddingBottom){pb-@@paddingBottom} @@if(context.fpBgClass){@@fpBgClass}" @@if(context.id){id="@@id"}>
    <div class="container">
        @@include('../../unit/_section-title-h2.html',{
            hr:'@@hr',
            title:'@@title'
        })
        <div class="row row-hs row-hs-bar">
            @@include('../../unit/_product-price-group.html',{
                img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/Apple_apple_iphone_12_pro_1013212413139_160x120.jpg',
                title:'Apple iPhone 7 Plus 128GB',
                btnName:'查看更多價格',
                group: {
                    item: [
                        {borderWidth:'1', listCount:'&nbsp;', listBadgeLabel:'網路門市', listName:'一二三四五六七八', listPrice:'17,900',},
                        {borderWidth:'1', listCount:'1', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'1', listCount:'2', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'1', listCount:'3', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'1', listCount:'4', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'0', listCount:'5', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                    ],
                },
            })
            @@include('../../unit/_product-price-group.html',{
                img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/Xiaomi_xiaomi_6_0419092419468_160x120.jpg',
                title:'Apple iPhone 7 Plus 128GB',
                btnName:'查看更多價格',
                group: {
                    item: [
                        {borderWidth:'1', listCount:'&nbsp;', listBadgeLabel:'網路門市', listName:'一二三四五六七八', listPrice:'17,900',},
                        {borderWidth:'1', listCount:'1', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'1', listCount:'2', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'1', listCount:'3', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'1', listCount:'4', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'0', listCount:'5', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                    ],
                },
            })
            @@include('../../unit/_product-price-group.html',{
                img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_j7_pro_0629071629081_160x120.jpg',
                title:'Apple iPhone 7 Plus 128GB',
                btnName:'查看更多價格',
                group: {
                    item: [
                        {borderWidth:'1', listCount:'&nbsp;', listBadgeLabel:'網路門市', listName:'一二三四五六七八', listPrice:'17,900',},
                        {borderWidth:'1', listCount:'1', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'1', listCount:'2', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'1', listCount:'3', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'1', listCount:'4', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'0', listCount:'5', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                    ],
                },
            })
            @@include('../../unit/_product-price-group.html',{
                img:'//d2lfcsub12kx0l.cloudfront.net/tw/product/img/Apple_apple_iphone_12_pro_1013212413139_160x120.jpg',
                title:'Apple iPhone 7 Plus 128GB',
                btnName:'查看更多價格',
                group: {
                    item: [
                        {borderWidth:'1', listCount:'&nbsp;', listBadgeLabel:'網路門市', listName:'一二三四五六七八', listPrice:'17,900',},
                        {borderWidth:'1', listCount:'1', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'1', listCount:'2', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'1', listCount:'3', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'1', listCount:'4', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                        {borderWidth:'0', listCount:'5', listBadgeLabel:'網路門市', listName:'手機王購物', listPrice:'14,900',},
                    ],
                },
            })
        </div>
    </div>
</div>