<!--
    id:'string',
    hr:'true',
    title:'string',
    fpBgClass:'string',
    nav:'true',
    navActive: 'new | second | repair',
    searchArea2:'true',
    searchPurchase:'true',
    filter:'true',
    searchResult:'true',
    itemBtnNumber:'number (2,3)',
    itemPrice:'true',
    mixitupId:'number',
-->
<div @@if(context.id){id="@@id">
    <div class="container-fluid px-0"}>
        <div class="container">
            @@if(context.title){
                @@include('../../unit/_section-title-h2.html',{
                    hr:'@@hr',
                    title:'@@title',
                })
            }
            @@if(context.nav=='true'){
                @@include('../../unit/_store-list-nav.html',{
                    navActive:'@@navActive',
                })
            }
        </div>
    </div>

    <div class="container-fluid px-0 border-top @@if(context.fpBgClass){@@fpBgClass}">
        <div class="container py-5">

            @@if(context.searchFunc=='true'){
                @@include('../products/_price-search-func.html',{
                    navActive: '@@navActive',
                    searchArea2: '@@searchArea2',
                    searchPurchase: '@@searchPurchase',
                })
            }

            @@if(context.filter=='true'){
            <div class="row align-items-center justify-content-between mb-3">
                <div class="col col-lg-4">
                    @@if(context.navActive!='repair'){
                    <span class="mr-1 d-none d-lg-inline">快速篩選</span>
                    <a class="text-decoration-none" href="#">
                        <span class="badge badge-light rounded-0 border mx-0">無卡分期</span>
                    </a>
                    <a class="text-decoration-none" href="#">
                        <span class="badge badge-light rounded-0 border mx-0">LINEPay</span>
                    </a>
                    <a class="text-decoration-none" href="#">
                        <span class="badge badge-light rounded-0 border mx-0">信用卡</span>
                    </a>
                    <a class="text-decoration-none" href="#">
                        <span class="badge badge-light rounded-0 border mx-0">街口支付</span>
                    </a>
                    }
                </div>
                @@if(context.searchResult=='true'){
                <div class="col text-center d-none d-lg-block">
                    共有 108 個結果符合要求。
                </div>
                }
                <div class="col-auto col-lg-4 text-right">
                    <div class="dropdown dropdown-select">
                        <a class="btn btn-outline-dark bg-white text-dark border dropdown-toggle" href="#" role="button" data-toggle="dropdown" data-display="static">
                            <i class="fa-fw fas fa-sort-amount-down"></i> <span class="d-none d-md-inline">排序方式</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-select" id="SortSelect-@@mixitupId">
                            <div class="dropdown-header">依門市最低</div>
                            <a class="dropdown-item sort" href="javascript:void();" data-sort="sort-price:desc">由高至低</a>
                            <a class="dropdown-item sort" href="javascript:void();" data-sort="sort-price:asc">由低至高</a>
                            <div class="dropdown-header">依上市日</div>
                            <a class="dropdown-item sort" href="javascript:void();" data-sort="sort-date:desc">由新至舊</a>
                            <a class="dropdown-item sort" href="javascript:void();" data-sort="sort-date:asc">由舊至新</a>
                            <div class="dropdown-header">依熱門度</div>
                            <a class="dropdown-item sort" href="javascript:void();" data-sort="sort-hot:desc">由高至低</a>
                            <a class="dropdown-item sort" href="javascript:void();" data-sort="sort-hot:asc">由低至高</a>
                        </div>
                    </div>
                    <!-- <select id="SortSelect-@@mixitupId" class="form-control">
                        <option hidden>&#xf160;</option>
                        <optgroup label="依門市最低">
                            <option value="sort-price:desc">由高至低</option>
                            <option value="sort-price:asc">由低至高</option>
                        </optgroup>
                        <optgroup label="依上市日">
                            <option value="sort-date:desc">由新至舊</option>
                            <option value="sort-date:asc">由舊至新</option>
                        </optgroup>
                        <optgroup label="依熱門度">
                            <option value="sort-hot:desc">由高至低</option>
                            <option value="sort-hot:asc">由低至高</option>
                        </optgroup>
                    </select> -->
                </div>
            </div>
            }

            <div class="row @@if(context.mixitupId){mixitup}" @@if(context.mixitupId){id="mixitup-@@mixitupId"}>
                @@loop('../../unit/_store-list-item.html', [
                {
                    cat:'taipei', sortPrice:'9700', sortDate:'20191231', sortHot:'3000',
                    badgeFlagTitle:'一二三', badgeSP1Bg:'danger', badgeSP2Bg:'warning', badgeSP1Title:'快速到貨', badgeSP2Title:'獨家贈好禮',
                    badge1:'@@badge1', badge2:'@@badge2', badge3:'@@badge3', badge4:'@@badge4',
                    img:'//d3c6c8kv4if4l0.cloudfront.net/www/Shop/1334/big/____001.jpg',
                    title:'一二三四五六七八九十一二三四五六七八九十',
                    rateScore:'4.3', rateCount:'1200',
                    address:'台北市大安區中山南路599巷599號',
                    @@if(context.itemPrice=='true'){
                        price:'9,700', priceLogin:'',
                        update:'2019/12/31',
                    }
                    @@if(context.itemBtnNumber=='3'){
                        btn:'primary',
                        btnPrimaryName:'@@btnPrimaryName',
                    }
                    @@if(context.itemBtnNumber=='2'){
                        btn:'',
                    }
                    desc:'新辦/攜碼/續約各大電信業者皆可辦理！iPhone 全系列【低價現貨供應中】',
                    tag1:'五倍券', tag2:'低價現貨低價現貨', tag3:'最多三個',
                },
                {
                    cat:'newtaipei', sortPrice:'18000', sortDate:'20220105', sortHot:'700',
                    badgeSP1Bg:'danger', badgeSP1Title:'快速到貨',
                    badge1:'@@badge1', badge2:'@@badge2', badge3:'@@badge3',
                    img:'//d3c6c8kv4if4l0.cloudfront.net/www/Shop/1411/big/_____.jpg',
                    title:'鋐聖通信',
                    rateScore:'5.0', rateCount:'138',
                    address:'新北市五股區工商路42號',
                    @@if(context.itemPrice=='true'){
                        price:'18,000', priceLogin:'',
                        update:'2022/01/05',
                    }
                    @@if(context.itemBtnNumber=='3'){
                        btn:'danger',
                        btnDangerName:'@@btnDangerName',
                    }
                    @@if(context.itemBtnNumber=='2'){
                        btn:'',
                    }
                    desc:'[新機／二手機買賣]、[門號申裝]、[無卡分期］、[小米家電]、[手機包膜、維修]',
                    tag1:'五倍券', tag2:'低價現貨低價現貨',
                },
                {
                    shadowColor:'warning',
                    cat:'newtaipei', sortPrice:'7000', sortDate:'20210520', sortHot:'1800',
                    img:'//d3c6c8kv4if4l0.cloudfront.net/www/Shop/1446/big/107766910_141896967532165_1986716186513360365_o.jpg',
                    title:'林口指標通訊',
                    rateScore:'3.5', rateCount:'50',
                    address:'新北市林口區仁愛路二段514號',
                    @@if(context.itemPrice=='true'){
                        priceTitle:'會員獨享', price:'7,000', priceLogin:'true',
                        update:'2021/05/20',
                    }
                    @@if(context.itemBtnNumber=='3'){
                        btn:'primary',
                        btnPrimaryName:'@@btnPrimaryName',
                    }
                    @@if(context.itemBtnNumber=='2'){
                        btn:'',
                    }
                    desc:'A52S 限時特價9390安卓/哀鳳 雙向LINE聊天紀錄轉移服務',
                },
                {
                    cat:'taoyuan', sortPrice:'6500', sortDate:'20220301', sortHot:'2150',
                    img:'//d3c6c8kv4if4l0.cloudfront.net/www/Shop/1538/big/LOGO.jpg',
                    title:'金馬講數位通訊',
                    rateScore:'3.5', rateCount:'50',
                    address:'桃園市蘆竹區南崁路190號',
                    @@if(context.itemPrice=='true'){
                        priceTitle:'會員獨享', price:'6,500', priceLogin:'true',
                        update:'2022/03/01',
                    }
                    @@if(context.itemBtnNumber=='3'){
                        btn:'primary',
                        btnPrimaryName:'@@btnPrimaryName',
                    }
                    @@if(context.itemBtnNumber=='2'){
                        btn:'',
                    }
                    desc:'A52S 限時特價9390安卓/哀鳳 雙向LINE聊天紀錄轉移服務',
                },
                {
                    cat:'taoyuan', sortPrice:'8200', sortDate:'20220311', sortHot:'250',
                    img:'//d3c6c8kv4if4l0.cloudfront.net/www/Shop/1608/big/0119-S-LOGO______1.jpg',
                    title:'中華行動屋-龍東店',
                    rateScore:'3.5', rateCount:'50',
                    address:'桃園市中壢區龍東路317號',
                    @@if(context.itemPrice=='true'){
                        priceTitle:'會員獨享', price:'8,200', priceLogin:'',
                        update:'2022/03/11',
                    }
                    @@if(context.itemBtnNumber=='3'){
                        btn:'primary',
                        btnPrimaryName:'@@btnPrimaryName',
                    }
                    @@if(context.itemBtnNumber=='2'){
                        btn:'',
                    }
                    desc:'A52S 限時特價9390安卓/哀鳳 雙向LINE聊天紀錄轉移服務',
                },
                ])
            </div>
        </div>
    </div>
</div>