<div class="row mb-4">
    <h1 class="col-12 m-0 mb-4">@@title</h1>
    <div class="col-md-5 col-12 text-center">
        <div class="text-center my-2">
            <a href="javascript:void();" class="btn-color-all d-inline-block position-relative">
            <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/HUAWEI_huawei_p40_pro_plus_0326173026609_360x270.jpg" class="img-fluid mx-auto" alt="">
            </a>
        </div>

        <div class="text-center section-color">
            <a href="javascript:void();" class="btn btn-outline-secondary btn-color-all my-1">全部</a>
            <a href="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s10_0220090020211_640x480.jpg" class="fresco btn btn-outline-secondary my-1">黑色</a>
            <a href="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s10_0220090020714_640x480.jpg" class="fresco btn btn-outline-secondary my-1">綠色</a>
            <a href="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s10_0220090020005_640x480.jpg" class="fresco btn btn-outline-secondary my-1">炫彩色</a>
        </div>
        <div class="row no-gutters align-items-center justify-content-center my-10">
            <div class="col-12 col-lg-10">
                <div class="row">
                    <div class="col col-lg-12 my-1">
                        <a class="btn btn-block btn-line" href="#">
                            <i class="fa-fw @@btn1Icon"></i> @@btn1Label
                        </a>
                    </div>
                    @@if(context.btn2Icon){
                    <div class="col col-lg-12 my-1">
                        <a class="btn btn-block btn-line" href="#">
                            <i class="fa-fw @@btn2Icon"></i> @@btn2Label
                        </a>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-12">
        <div class="clearfix">
            <div class="mb-4">
                @@for (var i = 0; i < descGroup.item.length; i++) {
                    @@include('unit/_store-desc-item.html', `+(JSON.stringify(descGroup.item[i]))+`)
                }
            </div>
            <div class="">
                <small class="text-muted">@@date</small>
            </div>
            <ul class="list-group">
                @@for (var i = 0; i < infoGroup.item.length; i++) {
                    @@include('unit/_store-list-item.html', `+(JSON.stringify(infoGroup.item[i]))+`)
                }
            </ul>
        </div>

    </div>
</div>