<div @@if(context.fullpage=='true'){class="container-fluid @@if(context.fpBgClass){@@fpBgClass}"} @@if(context.id){id="@@id"}>
    <div class="container">
        @@include('_store-title.html')
        <div class="row pb-10">
                <div class="col-md-3">
                    <img class="of-cover" src="http://attach.sogi.com.tw/img_shop/no437.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p class="js-readmore">
                        購買的手機為內建電池，需搭配行動電源或手機包膜<br>
                        有預訂手機卻又取消時，需付物流費200元<br>
                        本賣場比客服、特約門市更便宜，加量的優質服務，低價的商品優惠<br>
                        本店專營各家業者申辦門號、續約及空機買賣，已有20餘年專業服務<br>
                        購買的手機為內建電池，需搭配行動電源或手機包膜<br>
                        有預訂手機卻又取消時，需付物流費200元<br>
                        本賣場比客服、特約門市更便宜，加量的優質服務，低價的商品優惠<br>
                        本店專營各家業者申辦門號、續約及空機買賣，已有20餘年專業服務<br>
                        購買的手機為內建電池，需搭配行動電源或手機包膜<br>
                        有預訂手機卻又取消時，需付物流費200元<br>
                        本賣場比客服、特約門市更便宜，加量的優質服務，低價的商品優惠<br>
                        本店專營各家業者申辦門號、續約及空機買賣，已有20餘年專業服務<br>
                        另有各式3C商品專業包膜、貼鑽、及客製化彩繪包膜服務, 美麗奇機．十大好處．非包不可"									                            </p>
                </div>
            <div class="col-md-3 text-center">
                <div class="fb-page" data-href="https://www.facebook.com/isogi" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-height="200"><blockquote cite="https://www.facebook.com/isogi" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/isogi">SOGI 手機王</a></blockquote></div>
            </div>
        </div>
    </div>
</div>