/* ==========================================================================
   Mixin
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* Color */
/* Path */
/* Icon */
body {
  overflow-x: hidden; }

#header {
  background: #000; }
#header .hamburger-menu span, #header .hamburger-menu span:before, #header .hamburger-menu span:after {
  background-color: #fff; }
#header .hamburger-menu.active span {
  background-color: transparent; }
@media (max-width: 991px) {
  #header {
    background: rgba(0, 0, 0, 0.9); }
  #header .navbar-collapse {
    height: 100vh; }
  #header .navbar-nav {
    font-size: 2rem;
    text-align: center; } }

#kv {
  position: relative;
  background-position: center 0;
  background-repeat: no-repeat;
  background-image: url("/event/2021_vote/img/kv-desktop.png");
  background-attachment: fixed;
  background-size: cover; }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #kv {
    background-size: auto 768px; } }
#kv.fp-index {
  height: 100%; }
#kv.fp-inpage {
  height: 335px; }
#kv .fullpage {
  vertical-align: middle;
  display: table;
  width: 100%;
  height: 100%; }
#kv .fullpage .fullpage-inside {
  display: table-cell;
  vertical-align: middle;
  height: 100%; }
@media (max-width: 991px) {
  #kv {
    background-image: url("/event/2021_vote/img/kv-mobile.png");
    background-size: 100% 100%; } }

.cta {
  position: absolute;
  bottom: 0; }

.text-purple {
  color: #2B0474; }

.nav-cat .nav-link {
  border-bottom: 1px solid #fff;
  color: #000; }
.nav-cat .nav-link.active {
  border-bottom-color: #337ab7;
  color: #337ab7; }

#dropdown-category {
  z-index: 10; }

.text-gray {
  color: #707070; }

.btn-vote {
  background: #707070;
  color: #fff; }
.btn-vote:hover, .btn-vote:active, .btn-vote.active {
  background: #337ab7;
  color: #fff; }

.progress {
  background-color: #fff;
  height: 45px; }

.img-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover; }
