@charset "utf-8";

//.mix-item {
//    margin:15px 0;
//}
a.box {
    &:hover {
        text-decoration: none;
        box-shadow:0 0 1px #999;
    }
}

.box {
    position: relative;
    background: $white;
    border: 1px solid #ccc;
//    box-shadow:0 0 2px #999;
    &:hover {
        box-shadow:0 0 1px #999;
        border-color: $warning;
    }

    
    
    .list-group {
        margin: 0;
//        font-size: .8em;
        .list-group-item {
            padding: 5px 10px;
            border-left: none;
            border-right: none;
            border-bottom: none;
            @include border-radius(0);
            p {margin-top:12px;}
            .list-title {margin-right:1em;}
            .nav {
                background-color: #ffe57f;
                a {
                    padding: 5px 0;
                    color: #333;
                    &:hover {
                        background-color: #a76e00;
                        color: #fff;
                    }
                }
            }
            //&:last-child {padding: 0;}
        }
    }
    a {
        &:hover {
            text-decoration: none;
        }
    }
//    figure {
//        img {
//            display:block;
//            width: 100%;
//        }
//        .label-group {
//            position: absolute;
//            left:5px;
//            top:5px;
//        }
//    }
//    .info-subtitle {
//        padding: 0 10px;
//        
//        font-size: 13px;
//        height: 2.7em;
//        overflow: hidden;
//        text-overflow : ellipsis;
//        line-height: 1.3 !important;
//        color: $brand-warning !important;
//    }
//    .info-title {
//        overflow: hidden;
//        text-overflow : ellipsis;
//        height: 3em;
//        line-height: 1.3 !important;
//    }
    .info {
        h4, .info-title {
            color: #000;
        }
        p {
            overflow: hidden;
            height: 6.8em;
            color: #444;
        }
        small {
            color: #999;
        }
    }
}

[id^="mixitup-"],
[id*="mixitup-"] {
    .mix-item {
        display: none;
        &:after {
            display: inline-block !important;
            background: red;
        }
    }
}

//#infscr-loading {
//	position:fixed;
//	bottom:30px;
//	left:50%;
//	z-index:100;
//	margin-left:-60px;
//	padding:20px;
//	min-width:100px;
//	background:rgba(0,0,0,0.8);
//	color:#fff;
//	font-size:15px;
//	font-weight:bold;
//	text-align:center;
//	@include border-radius(10px);
//}

.box-price {
    .badge {
        font-size: .85rem;
    }
}