#header {
    z-index: 1030;
    background: $white;
    @include transition(all 0.2s ease);
//    box-shadow: $box-shadow;
    &.header-admin {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: $primary;
        color: $white;
        .nav-link,
        .btn-link {
            color: $white;
        }
        .nav-link {
            position: relative;
            &:hover {
                background: darken($primary, 15%);
            }
        }
        a {
            @include hover-focus {
                text-decoration: none;
            }
        }
    }
    &.scroll-up {
        top: 0;
    }
    &.scroll-down {
        top: -100px;
    }
    .container {
        position: relative;
        z-index: 1;
    }
    .navbar-brand {
        img {
            max-height: 40px;
        }
    }
    .navbar-nav {
        .nav-link {
            padding-left: 1rem;
            padding-right: 1rem;
            color: #141311;
            font-weight: bold;
            @include hover-focus {
                color: #00303D;
            }
        }
    }
    .dropdown-menu {
        .nav {
            display: flex;
            width: 250px;
            .nav-item {
                flex: 50%;
//                border-left: 1px solid $gray-300;
//                &:first-child,
//                &:only-child {
//                    border-left: none;
//                }
                
            }
            .nav-link {
//                padding-top: 0;
//                padding-bottom: 0;
//                line-height: 1;
                font-weight: 500;
                @include hover-focus {
                    background: $light;
                }
            }
        }
    }
//    .dropdown-menu-w100 {
//        position: fixed;
//        top: 53px;
//        left: 0;
//        right: 0;
//        min-width: auto;
//        padding: 15px;
//        width: 100%;
//        background: $gray-100;
//        border: 1px solid $gray-300;
//        border-top: none;
//    }
    .badge {
        position: absolute;
        right:0;
        top: -5px;
        z-index: 11;
        background: $danger;
        font-size: .65rem;
    }
    .mobile-menu-main {
//        position: relative;
//        z-index: 1;
        background: $gray-lightest;
        .nav {
            .nav-item {
                padding: .25rem 0;
                .nav-link {
                    padding-top: .25rem;
                    padding-bottom: .25rem;
                    border-left: 1px solid $white;
                }
            }
        }
    }
}

.popover.bs-tether-element-attached-top::after,
.popover.bs-tether-element-attached-top::before{
    left: 80%;
}

// styling of hamburger menu
.hamburger-menu {
    position: relative;
//	display:  inline-block;
	width: 25px;
	height: 25px;
    span {
        margin: 0 auto;
        position: relative;
        top: 8px;
        transition-duration:0s;
        transition-delay:0.2s;
        &:before,
        &:after {
            position: absolute;
            content: '';
            transition-property:margin, transform;
            transition-duration:0.2s;
            transition-delay:0.2s, 0s;
        }
        &:before {
            margin-top: -8px;
        }
        &:after {
            margin-top: 8px;
        }
    }
    span,
    span:before,
    span:after {
        width: 25px;
        height: 3px;
        background-color: $dark;
        display: block;
    }
    &.active {
        span {
            background-color: rgba(0,0,0,0.0);
            transition-delay:0.2s;
            &:before,
            &:after {
                margin-top: 0;
                transition-delay:0s, 0.2s;
            }
            &:before {
                transform:rotate(45deg);
            }
            &:after {
                transform:rotate(-45deg);
            }
        }
    }
}