@import "../common/config/mixin";
@import "../common/config/variables";

@import "../bootstrap-431/functions";
@import "../bootstrap-431/variables";
@import "../bootstrap-431/mixins";


/* Form Progress */
$step-bar-size: 60px;
$step-label-size: 42px;
$step-active-color: $success;

.step {
    position: relative;
    text-align: center;
    .col {
        margin-left: -2px;
        margin-right: -2px;
    }
    .step-circle,
    .step-bar {
        display: inline-block;
        background: $gray-100;
        width: $step-bar-size;
        height: $step-bar-size;
        border-radius: $step-bar-size !important;
        border: 1px solid $gray-300;
    }
    .step-bar {
        position: relative;
        top: $step-bar-size / 4;
        z-index: 1;
        width: 100%;
        height: 8px;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .step-circle {
        position: relative;
        .step-label {
            position: relative;
            z-index: 1;
            display: inline-block;
            width: $step-label-size;
            height: $step-label-size;
            line-height: $step-label-size;
            border-radius: 50% !important;
            background: $white;
            margin: 8px 8px 0;
            color: $gray-500;
            font-size: 1.5rem;
            text-align: center;
            &.font-sm {
                font-size: $font-size-sm;
            }
        }
    }
    .step-text {
        position: absolute;
        left: -50%;
        right: 0;
        width: 200%;
        margin-top: 10px;
        font-size: $font-size-sm;
        color: $secondary;
    }
    /* Done / Active */
    .step-bar.done,
    .step-circle.done {
        // background: #eee;
    }
    .step-bar.active {
        background: linear-gradient(to right, #EEE 40%, #FFF 60%);
    }
    .step-circle.done {
        .step-label {
            color: $white;
            background: $step-active-color;
        }
        .step-text {
            color: $step-active-color;
        }
    }
    .step-circle.active {
        .step-label {
            color: $white;
            background: $step-active-color;
        }
        .step-text {
            color: $step-active-color;
        }
    }
    &.step-from-to {
        .step-bar {
            position: absolute;
            z-index: 0;
            top: $step-bar-size / 2 - 4px;
            width: 90%;
        }
        @include media-breakpoint-down(md) {
            text-align: left;
            .steps {
                display: flex;
                align-items: center;
            }
            .step-circle,
            .step-text {
                display: inline-flex;
            }
            .step-circle {
//                width: $step-bar-size;
            }
            .step-text {
                margin-top: 0;
                margin-left: 1rem;
            }
            .col-12 {
                margin-top: 2rem;
                .step-circle {
                    &:before {
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 100%;
                        z-index: 0;
                        margin: 0 auto;
                        display: block;
                        width: 8px;
                        height: 100%;
                        background: $gray-100;
                        border: 1px solid $gray-300;
                        border-top: 0;
                        border-bottom: 0;
                        content: '';
                    }
                }
                
                &:first-child {
                    margin-top: 0;
                    .step-circle {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}