@import "../common/config/mixin";
@import "../common/config/variables";

@import "../bootstrap-431/functions";
@import "../bootstrap-431/variables";
@import "../bootstrap-431/mixins";

@import "../utils/bootstrap.ekko-lightbox";
@import "../utils/bootstrap.star-rating";
//@import "utils/bootstrap-select";

#main {
    .flex-column {
        .nav-link {
            color: $dark;
            &.active {
                color: $primary;
            }
        }
    }
}

#navbar-brands {
    .nav-pills {
        .nav-link {
            color: $secondary;
            border-radius: 0;
            border-bottom: 2px solid $white;
            @include media-breakpoint-up(lg) {
                &:hover {
                    color: $dark;
                    background-color: $white;
                    border-bottom-color: $dark;
                }
            
            }
        }

        .nav-link.active,
        .show > .nav-link {
            color: $dark;
            background-color: $white;
            border-bottom-color: $dark;
        }
    }
    .dropdown-toggle {
        &::after {
            font-size: 1.5rem;
        }
    }
}

.header-middle {
    z-index: 900;
}
.filterNav {
    max-height: 50rem;
    opacity: 1;
    transition: max-height 0.1s cubic-bezier(0.4, 0, 0.2, 1), 
    opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: max-height, opacity;
    &.hidden {
        max-height: 0;
        opacity: 0;
    }
}