@import "../common/config/mixin";
@import "../common/config/variables";

@import "../bootstrap4/variables";
@import "../bootstrap4/mixins";

@import "../utils/bootstrap.datetimepicker";
@import "../utils/bootstrap.fileinput";
@import "../utils/bootstrap.editable";

@import "../common/plugin/jquery.pushy";

[class^="editable-"],
[class*="editable-"] {
    font-size: 15px;
}

.refresh-body {
    display: table;
    width: 100%;
    .refresh-content {
        display: table-cell;
        height: 300px;
        font-size: 2em;
    }
}

hr {
    border-top-color: #999;
}