<!-- Global -->
<script src="https://kit.fontawesome.com/5ab387053e.js" crossorigin="anonymous"></script>
<script src="/assets/javascripts/vendor/jquery.min.js"></script>
<script src="/assets/javascripts/vendor/bootstrap.bundle.min.js"></script>
<script src="/assets/javascripts/vendor/jquery.slick.min.js"></script>
<!-- <script src="/assets/javascripts/vendor/swiper-bundle.min.js"></script> -->
<script src="/assets/javascripts/vendor/jquery.pushy.min.js"></script>
<script src="/assets/javascripts/vendor/owl.carousel.min.js"></script>
<script src="/assets/javascripts/vendor/ofi.min.js"></script>
<script src="/assets/javascripts/common.js"></script>