html, body {
    height: 100%;
}
body {
    position: relative;
//    -webkit-overflow-scrolling: touch;
    &.scroll-hidden {
        overflow: hidden;
    }
}
hr {
    height: 1px;
    border: none;
    border-top: 1px solid #ddd !important;
}
.hr-primary {border-top-color: primary;}
.hr-info {border-top-color: info;}
.img-shop {
    object-fit: contain;
    height: 187px;
    @include media-breakpoint-down(sm) {
        height: 120px;
    }
}