<hr class="border-warning my-6">
<div class="my-2" id="article-content6">
    <div class="lead font-weight-bold mb-4">
        優惠價格
    </div>
    <div class="my-2">
        <div class="shadow p-1 my-1">
            <div class="row align-items-center">
                <div class="col-4">
                    <span class="font-weight-bold">
                        手機王購物
                    </span>
                </div>
                <div class="col-4">
                    <div class="text-center">
                        <span class="text-danger h4">$12,900</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="text-right">
                        <a class="btn btn-secondary" href="#">前往查看</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow p-1 my-1">
            <div class="row align-items-center">
                <div class="col-4">
                    <span class="font-weight-bold">
                        有間通訊
                    </span>
                </div>
                <div class="col-4">
                    <div class="text-center">
                        <span class="text-danger h4">$12,900</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="text-right">
                        <a class="btn btn-secondary" href="#">前往查看</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shadow p-1 my-1 bg-warning">
            <div class="row align-items-center">
                <div class="col-4">
                    <span class="font-weight-bold">
                        想要花錢買
                    </span>
                </div>
                <div class="col-4">
                    <div class="text-center">
                        <span class="text-danger h4">$12,900</span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="text-right">
                        <a class="btn btn-danger" href="#">立即搶購</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>