<div class="border my-2 p-2">
    <div class="row align-items-center justify-content-center">
        <div class="col-auto">
            <div class="media">
                <img class="img-avatar mr-3" src="/assets/images/uploads/avatar.jpg" alt="">
                <div class="media-body align-self-center">
                    <a href="">LEO</a>
                    <span class="badge badge-outline">站長</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-7">
            <div class="text-row-2 mt-2 mt-md-0">
                台灣 5G 預計將在今年啟用，已有多家手機業者規劃推出 5G 手機。Sony Mobile 台灣總經理林志遠表示，2020 是 5G 元年，Sony Mobile 絕對不會缺席，今年除了會在台灣持續推出智慧型手機外，也將引進 5G 手機。至於首款 5G 手機推出的時間，林志遠說，會在上半年推出，台灣將配合 5G 時程，但確切的時間點很重要，要再評估，因為太早或太晚都不好。
            </div>
        </div>
    </div>
</div>