<div>
    <hr class="border-warning my-6">
    <div class="alert alert-secondary shadow-sm">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="h5 font-weight-bold">優點</div>
                <hr class="border-dark">
                <ul>
                    <li>定價算便宜</li>
                    <li>續航超強</li>
                    <li>輕鬆夜拍就很好</li>
                </ul>
            </div>
            <div class="col-12 col-lg-6">
                <div class="h5 font-weight-bold">缺點</div>
                <hr class="border-dark">
                <ul>
                    <li>邊框太粗</li>
                    <li>沒有螢幕下指紋辨識</li>
                    <li>重量太重，不好⼿持</li>
                </ul>
            </div>
            <div class="col-12 text-center">
                <div class="h5 font-weight-bold">編輯給分</div>
                <div class="progress position-relative mt-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                    <small class="justify-content-center d-flex position-absolute w-100">
                        <span class="text-white">9.2</span>
                    </small>
                </div>
                <div class="progress position-relative mt-2">
                    <div class="progress-bar bg-dark" role="progressbar" style="width: 45%" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                    <small class="justify-content-center d-flex position-absolute w-100">
                        <span class="text-white">4.5</span>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>