<div>
    <hr class="border-warning my-10">
    <div id="quiz">
        <div id="quiz-name" class="h2 mb-7"></div>
        <div class="text-right mt-2">
            <button class="btn btn-outline-primary" id="prev-question-button">上一題</button>
            <button class="btn btn-outline-primary" id="next-question-button">下一題</button>
            <button class="btn btn-primary" id="submit-button">送出答案</button>
        </div>
        <div class="p-2" id="quiz-results">
            <p id="quiz-results-message"></p>
            <p id="quiz-results-score"></p>
        </div>
    </div>
</div>