<form>
    <div class="form-group text-center">
        <div class="mb-2 form-text text-muted font-small">您的驗證碼已透過簡訊發送至</div>
        <label class="h3 m-0">0912345678</label>
    </div>
    @@include('unit/_form-group-otp.html')
    <div class="form-group text-center">
        <div class="form-row justify-content-center">
            <div class="col-6 col-lg-5">
                <a class="btn btn-block btn-warning" href="@@href">@@btnLabel</a>
            </div>
        </div>
    </div>
    <div class="mt-10 text-center">
        <a class="btn-link text-secondary" href="@@href2">沒收到簡訊驗證碼？</a>
    </div>
</form>