<tbody>
    <tr class="panel-heading">
        <td colspan="@@colspan" class="panel-title table-@@bgColor" data-toggle="collapse" href="#@@id">
            <div class="d-flex align-items-center justify-content-between">
                <div>
                    <div class="float-left mr-1"><i class="fas fa-angle-up"></i></div>
                    @@label
                </div>
                <div>
                    @@include('unit/_btn-remove.html',{direction:'row', textColor:'muted'})
                </div>
            </div>
        </td>
    </tr>
</tbody>
<tbody class="panel-collapse collapse show" id="@@id">