<div class="@@if(context.paddingX){py-@@paddingX} @@if(context.paddingY){py-@@paddingY} @@if(context.paddingTop){pt-@@paddingTop} @@if(context.paddingBottom){pb-@@paddingBottom} @@if(context.fpBgClass){@@fpBgClass}" @@if(context.id){id="@@id"}>
    <div class="container">
        <div class="row pb-10">
            <div class="col-12 my-2">
                <div class="row no-gutters">
                    <div class="col-12 text-center">
                        <div class="text-secondary mb-5">
                            倒數 時間 結束
                        </div>
                        <h1 class="h2 text-row-12 mb-5">
                            標題標題標題標題標題標題標題標題標題標題
                        </h1>
                        <div class="text-secondary mb-5">
                            限時價 <span class="text-price h3 font-weight-bold font-italic">$23,000</span>
                        </div>
                        <a class="btn btn-warning mb-5" href="#section-store-list">立即前往合作門市</a>
                        <textarea class="form-control" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>