<div class="form-group row">
    <label for="" class="col-sm-3 col-lg-2 col-form-label">
        @@label
    </label>
    <div class="col-sm-9 col-lg-10">
        @@if(context.inputType=='plaintext'){
        <p class="form-control-plaintext @@if(context.inputLabelColor){text-@@inputLabelColor}">@@inputLabel</p>
        }
        @@if(context.inputType=='text'){
            <input type="text" class="form-control" id="" placeholder="@@inputLabel">
            @@if(context.inputTip){
            <small class="form-text text-muted">
                @@inputTip
            </small>
            }
        }
        @@if(context.inputType=='textarea'){
            <textarea class="form-control" rows="5" placeholder="@@inputLabel"></textarea>
        }
        @@if(context.inputType=='checkbox'){
            <div class="form-control-plaintext pb-0">
                <label class="checkbox-inline mr-2">
                    <input type="checkbox" id="" value=""> @@chk1Label
                </label>
                @@if(context.chk2Label){
                <label class="checkbox-inline mr-2">
                    <input type="checkbox" id="" value=""> @@chk2Label
                </label>
                @@if(context.chk3Label){
                <label class="checkbox-inline mr-2">
                    <input type="checkbox" id="" value=""> @@chk3Label
                </label>
                @@if(context.chk4Label){
                <label class="checkbox-inline mr-2">
                    <input type="checkbox" id="" value=""> @@chk4Label
                </label>
                }
                }
                }
            </div>
        }
        @@if(context.inputType=='radio'){
            <div class="form-control-plaintext pb-0">
                <label class="radio-inline mr-2">
                    <input type="radio" name="" id="" value=""> @@radio1Label
                </label>
                <label class="radio-inline mr-2">
                    <input type="radio" name="" id="" value=""> @@radio2Label
                </label>
            </div>
        }
        @@if(context.inputType=='time'){
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control input-small" placeholder="@@input1Label">
                    <!--
                    <div class="input-group bootstrap-timepicker timepicker">
                        <input type="text" class="form-control input-small">
                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    </div>
                    -->
                </div>
                <div class="col">
                    <input type="text" class="form-control input-small" placeholder="@@input2Label">
                </div>
            </div>
        }
        @@if(context.inputType=='select'){
            <select class="form-control">
                <option>@@input1Label</option>
                <option>@@input2Label</option>
            </select>
        }
        @@if(context.inputType=='multi'){
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="@@input1Label">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="@@input2Label">
                </div>
                <div class="col-12 mt-3">
                    <input type="text" class="form-control" placeholder="@@input3Label">
                </div>
            </div>
        }
    </div>
</div>