<div>
    <div class="container">
        <div class="list-group my-2">
            @@loop('_list-group-item.html', [
                {
                    href:'public-detail.html',
                    title:'[置頂] 店舖後台「新增報價、鎖價異動」即時通知功能上線',
                    badgeName:'NEW',
                    desc:'阿湯自己本身是用倉頡輸入法，所以不管倉頡怎麼改版我一直都用的很習慣，沒有新舊版差異的問題，不過隨著 Windows 的改版，注音的版本似乎也是一改再改，對阿湯來說感受不出來好不好用，但好像不少人最喜歡的還是舊版的ㄅ半注音輸入法，也就是 XP 時代往前的注音，僅管已經推出到 Windows 10，還是有人追著阿湯問舊版注音，其實這早就有解法，而且也適用於 Windows 7 和 8 的系統，還是習慣舊版注音的朋友，就往下來看怎麼加入舊版注音吧。',
                },
                {
                    href:'public-detail.html',
                    title:'店舖後台「新增報價、鎖價異動」即時通知功能上線',
                    desc:'們中起大自。強夫從油王智國立音表上生例早備……種環種後此會車是前思，廠些男係黃急怎認線上巴？們一十常間沒分，些的我，心但下想層獨上值程是教細間球的他切葉充把了的地時。就員內他細院不長新能遊……全同歡與過愛的的，新著難過阿奇心部又動的們起是發大計又負作爸拉地許亞習們中起大自。強夫從油王智國立音表上生例早備……種環種後此會車是前思，廠些男係黃急怎認線上巴？們一十常間沒分。',
                },
                {
                    href:'public-detail.html',
                    title:'店舖後台「新增報價、鎖價異動」即時通知功能上線',
                    desc:'們中起大自。強夫從油王智國立音表上生例早備……種環種後此會車是前思，廠些男係黃急怎認線上巴？們一十常間沒分，些的我，心但下想層獨上值程是教細間球的他切葉充把了的地時。就員內他細院不長新能遊……全同歡與過愛的的，新著難過阿奇心部又動的們起是發大計又負作爸拉地許亞習們中起大自。強夫從油王智國立音表上生例早備……種環種後此會車是前思，廠些男係黃急怎認線上巴？們一十常間沒分。',
                },
            ])
        </div>
    </div>
</div>