<div class="form-row align-items-center justify-content-end">
    <div class="col-auto my-2">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="selectAll">
            <label class="form-check-label" for="selectAll">全選</label>
        </div>
    </div>
    <div class="col-auto my-2">
        @@include('../../shared/ui/_btn.html',{
            btnColor:'primary',
            href:'#',
            btnName:'@@funcBtnName',
        })
    </div>
    <div class="col-12 text-right">
        共 365 筆
    </div>
</div>