<script>
	$(function () {
		$(".input-otp").keyup(function () {
			if (this.value.length == this.maxLength) {
			var $next = $(this).next('.input-otp');
			if ($next.length)
				$(this).next('.input-otp').focus();
			else
				$(this).blur();
			}
		});
	});

    // document.addEventListener("DOMContentLoaded", function(event) {
	// function OTPInput() {
	// 	const inputs = document.querySelectorAll('#otp > *[id]');
	// 	for (let i = 0; i < inputs.length; i++) {
	// 		inputs[i].addEventListener('keydown', function(event) {
	// 			if (event.key === "Backspace") {
	// 				inputs[i].value = '';
	// 				if (i !== 0) inputs[i - 1].focus();
	// 			} else {
	// 				if (i === inputs.length - 1 && inputs[i].value !== '') {
	// 					return true;
	// 				} else if (event.keyCode > 47 && event.keyCode < 58) {
	// 					inputs[i].value = event.key;
	// 					if (i !== inputs.length - 1) inputs[i + 1].focus();
	// 					event.preventDefault();
	// 				} else if (event.keyCode > 64 && event.keyCode < 91) {
	// 					inputs[i].value = String.fromCharCode(event.keyCode);
	// 					if (i !== inputs.length - 1) inputs[i + 1].focus();
	// 					event.preventDefault();
	// 				}
	// 			}
	// 		});
	// 	}
	// }
	// OTPInput();
    // });

    $(startup);
    var countdownText = document.querySelector('.text-countdown');
    var btnOtpSend = document.querySelector('#btnOtpSend');
    
    function startup(){
        $(btnOtpSend).click(start);
    }
    function start(){
        clock = 30;
        $(countdownText).fadeIn().text("倒數 "+clock+" 秒後可重新發送");
        timer=setInterval(countdown, 1000);
        $(btnOtpSend).removeClass("btn-primary").addClass("btn-secondary disabled");
    }
    function countdown(){
        clock--;
        $(countdownText).text("倒數 "+clock+" 秒後可重新發送");
        if(clock==0){
            clearInterval(timer);
            $(btnOtpSend).removeClass("btn-secondary disabled").addClass("btn-primary");
            $(countdownText).fadeOut()
        }
    }
</script>