@charset "utf-8";

/* ==========================================================================
   Variables
   ========================================================================== */

//$section-width:  960px;

/* Color */
$color-fb:      #3b5998;
$color-line:    #00b833;
$color-ci:      #fc0;
$color-orange-LT: #ffc299;
$color-ci-dark: #f70;
$gray-lightest: #fefefe;


/* Path */
$path-ui:  "../images/ui/";
$path-ui-sub:  "../../images/ui/";


/* Icon */
$icon-caret-up:   '\f0d8';
$icon-caret-down: '\f0d7';