<div class="modal fade modal-func" tabindex="-1" role="dialog" aria-labelledby="modal-func">
    <div class="modal-dialog" role="document">
        <div class="modal-content shadow rounded-lg">
            <div class="modal-header">
                <div class="modal-title">
                    <i class="fas fa-fw fa-list-ul"></i> 功能
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body p-0">
                <div class="tab-content h-100">
                    <div role="tabpanel" class="tab-pane h-100 active" id="tab-func-compare">
                        <ul class="nav nav-underline justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tab-func-compare-01" role="tab" data-toggle="tab">手機</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-func-compare-02" role="tab" data-toggle="tab">平板電腦</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-func-compare-03" role="tab" data-toggle="tab">穿戴裝置</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab-func-compare-01">
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-2 text-center">
                                                <a href="#">
                                                <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Xiaomi_xiaomi_6_0419092419468_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a class="text-dark font-weight-bold text-row-2 text-decoration-none" href="#">
                                                    SAMSUNG Galaxy S9+
                                                </a>
                                            </div>
                                            <div class="col-3 text-right">
                                                <div class="font-small text-muted">門市價格</div>
                                                <a class="text-decoration-none font-weight-bold" href="#">
                                                    $17,900
                                                </a>
                                            </div>
                                            <div class="col-1">
                                                <a class="font-small text-muted" href="#">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-2 text-center">
                                                <a href="#">
                                                <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Xiaomi_xiaomi_6_0419092419468_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a class="text-dark font-weight-bold text-row-2 text-decoration-none" href="#">
                                                    Apple iPhone 6
                                                </a>
                                            </div>
                                            <div class="col-3 text-right">
                                                <div class="font-small text-muted">門市價格</div>
                                                <a class="text-decoration-none font-weight-bold" href="#">
                                                    $17,900
                                                </a>
                                            </div>
                                            <div class="col-1">
                                                <a class="font-small text-muted" href="#">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-2 text-center">
                                                <a href="#">
                                                <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Xiaomi_xiaomi_6_0419092419468_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a class="text-dark font-weight-bold text-row-2 text-decoration-none" href="#">
                                                    SAMSUNG Galaxy Note 20 Ultra 512GB
                                                </a>
                                            </div>
                                            <div class="col-3 text-right">
                                                <div class="font-small text-muted">門市價格</div>
                                                <a class="text-decoration-none font-weight-bold" href="#">
                                                    $17,900
                                                </a>
                                            </div>
                                            <div class="col-1">
                                                <a class="font-small text-muted" href="#">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-2 text-center">
                                                <a href="#">
                                                <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Xiaomi_xiaomi_6_0419092419468_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a class="text-dark font-weight-bold text-row-2 text-decoration-none" href="#">
                                                    SAMSUNG Galaxy Note 20 Ultra 512GB
                                                </a>
                                            </div>
                                            <div class="col-3 text-right">
                                                <div class="font-small text-muted">門市價格</div>
                                                <a class="text-decoration-none font-weight-bold" href="#">
                                                    $17,900
                                                </a>
                                            </div>
                                            <div class="col-1">
                                                <a class="font-small text-muted" href="#">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-2 text-center">
                                                <a href="#">
                                                <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Xiaomi_xiaomi_6_0419092419468_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a class="text-dark font-weight-bold text-row-2 text-decoration-none" href="#">
                                                    SAMSUNG Galaxy Note 20 Ultra 512GB
                                                </a>
                                            </div>
                                            <div class="col-3 text-right">
                                                <div class="font-small text-muted">門市價格</div>
                                                <a class="text-decoration-none font-weight-bold" href="#">
                                                    $17,900
                                                </a>
                                            </div>
                                            <div class="col-1">
                                                <a class="font-small text-muted" href="#">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-2 text-center">
                                    <a href="#" class="btn btn-primary btn-sm rounded-pill px-8">立即比較</a>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab-func-compare-02">
                                <div class="py-20">
                                    <div class="p-3 text-center">
                                        <div class="display-4">
                                            <i class="far fa-grin-beam-sweat"></i>
                                        </div>
                                        這邊看起來還沒有東西喔，放點產品進來吧！
                                    </div>
                                    <div class="pt-2 text-center">
                                        <a href="#" class="btn btn-primary btn-sm rounded-pill px-8">立即比較</a>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab-func-compare-03">
                                穿戴裝置
                                <div class="pt-2 text-center">
                                    <a href="#" class="btn btn-primary btn-sm rounded-pill px-8">立即比較</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane h-100" id="tab-func-product">
                        <ul class="nav nav-underline justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tab-func-product-01" role="tab" data-toggle="tab">手機</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-func-product-02" role="tab" data-toggle="tab">平板電腦</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-func-product-03" role="tab" data-toggle="tab">穿戴裝置</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab-func-product-01">
                                <div class="list-group list-group-flush">
                                    <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-2 text-center">
                                                <a href="#">
                                                <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/MOTO_moto_razr_5g_1111071411174_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a class="text-dark font-weight-bold text-row-2 text-decoration-none" href="#">
                                                    SAMSUNG Galaxy S9+
                                                </a>
                                            </div>
                                            <div class="col-3 text-right">
                                                <div class="font-small text-muted">門市價格</div>
                                                <a class="text-decoration-none font-weight-bold" href="#">
                                                    $17,900
                                                </a>
                                            </div>
                                            <div class="col-1">
                                                <a class="font-small text-muted" href="#">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-2 text-center">
                                    <a href="#" class="btn btn-primary btn-sm rounded-pill px-8">查看全部</a>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab-func-product-02">
                                平板電腦
                                <div class="py-2 text-center">
                                    <a href="#" class="btn btn-primary btn-sm rounded-pill px-8">查看全部</a>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="tab-func-product-03">
                                穿戴裝置
                                <div class="py-2 text-center">
                                    <a href="#" class="btn btn-primary btn-sm rounded-pill px-8">查看全部</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane h-100" id="tab-func-price">
                        <div class="container h-100">
                            <div class="row align-items-center h-100 modal-func-login">
                                <div class="col-6 mx-auto text-center">
                                    <div class="display-4">
                                        <i class="fas fa-user-friends"></i>
                                    </div>
                                    請先登入會員
                                    <div class="pt-2">
                                        <a href="#" class="btn btn-primary btn-sm rounded-pill px-8">立即登入</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane h-100" id="tab-func-recent">
                        <div class="list-group list-group-flush">
                            <div class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-2 text-center">
                                                <a href="#">
                                                <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/product/img/SAMSUNG_samsung_galaxy_s21_0114164714906_160x120.jpg" class="img-fluid mx-auto d-block" alt="">
                                                </a>
                                            </div>
                                            <div class="col-7">
                                                <a class="text-dark font-weight-bold text-row-2 text-decoration-none" href="#">
                                                    SAMSUNG Galaxy S9+
                                                </a>
                                            </div>
                                            <div class="col-3 text-right">
                                                <div class="font-small text-muted">門市價格</div>
                                                <a class="text-decoration-none font-weight-bold" href="#">
                                                    $17,900
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer bg-light p-0">
                <ul class="nav nav-justified w-100" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link px-0 active" href="#tab-func-compare" role="tab" data-toggle="tab">
                            <i class="fas fa-fw fa-mobile-alt"></i><br>比較列表
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0" href="#tab-func-product" role="tab" data-toggle="tab">
                            <i class="fas fa-fw fa-heart"></i><br>產品追蹤
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0" href="#tab-func-price" role="tab" data-toggle="tab">
                            <i class="fas fa-fw fa-tag"></i><br>價格追蹤
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-0" href="#tab-func-recent" role="tab" data-toggle="tab">
                            <i class="fas fa-fw fa-eye"></i><br>最近瀏覽
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>