<div class="modal fade" id="modal-type" tabindex="-1" role="dialog" aria-labelledby="modal-type">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">加入車拼</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <select class="form-control">
                            <option>選擇品牌</option>
                        </select>
                    </div>
                    <div class="form-group">
                    <select class="form-control">
                        <option>選擇型號</option>
                    </select>
                    </div>
                    <div class="text-center">
                        <img src="http://cf-attach.i-sogi.com/tw/product/img/Google_Nexus_9_1016025616879_360x270.jpg" class="img-fluid" alt="">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal"><i class="fas fa-times"></i>取消</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i>加入</button>
            </div>
        </div>
    </div>
</div>