<div class="modal modal-quickview fade" id="" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="position-absolute" style="right: 1rem; z-index: 10;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="row align-items-center">
                    <div class="col-12 col-md-4 text-center">
                        <a href="#">
                        <div class="d-none d-md-block">
                            <img class="img-fluid" src="http://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_1_2_0224083724232_360x270.jpg" alt="">
                        </div>
                        <div class="d-md-none">
                            <img class="img-fluid" src="http://d2lfcsub12kx0l.cloudfront.net/tw/product/img/Sony_sony_xperia_1_2_0224083724232_160x120.jpg" alt="">
                        </div>
                        </a>
                        <div class="h5 my-2">
                            <span class="badge badge-outline">星環白</span>
                            <span class="badge badge-outline">星環銀</span>
                            <span class="badge badge-outline">星環藍</span>
                            <span class="badge badge-outline">星環黑</span>
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="row mt-2">
                            <div class="col-12 text-center text-md-left">
                                <a href="#" class="text-row-12 text-dark h5">Apple iPhone 7 Plus 128GBApple iPhone 7 Plus 128GBApple iPhone 7 Plus 128GB</a>
                                <div class="font-small text-muted">
                                    <span class="mr-2">原廠售價:$23,000</span>
                                    <span>上市日期: 2020/1</span>
                                </div>
                            </div>
                            <div class="col-8 col-md-4 offset-2 offset-md-0 mt-2">
                                <div class="progress position-relative">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 92%" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
                                    <div class="justify-content-center d-flex position-absolute w-100">
                                        <span class="text-white font-small">9.2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100 my-2"></div>
                            <div class="col-6">
                                <ul class="list-group list-group-flush border-bottom">
                                    <li class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-1 font-small text-muted">
                                                <i class="fas fa-fw fa-microchip"></i>
                                            </div>
                                            <div class="col-10">Apple A13 Bionic</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-1 font-small text-muted">
                                                <i class="fas fa-fw fa-mobile-alt"></i>
                                            </div>
                                            <div class="col-10">5.8吋OLED</div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-group list-group-flush border-bottom">
                                    <li class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-1 font-small text-muted">
                                                <i class="fas fa-fw fa-weight-hanging"></i>
                                            </div>
                                            <div class="col-10">187 g</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row align-items-center">
                                            <div class="col-1 font-small text-muted">
                                                <i class="fas fa-fw fa-palette"></i>
                                            </div>
                                            <div class="col-10">太平洋藍,石墨,金,銀</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-12 col-lg-6 my-2">
                                <div class="row">
                                    <div class="col-6 border-right">
                                        <div class="text-center text-muted">
                                            <div class="">空機價</div>
                                            <div class="h4 font-weight-bold text-primary">-</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="text-center text-muted">
                                            <div class="">二手價</div>
                                            <div class="h4 font-weight-bold text-primary">$10,800</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-8 col-lg-4 col-xl-6">
                                <a class="btn btn-primary btn-sm btn-block rounded-pill" href="#">了解更多</a>
                            </div>
                            <div class="col-2 col-lg-4 col-xl-3">
                                <a class="btn btn-secondary btn-sm btn-block rounded-pill px-0" href="#">
                                    <i class="fas fa-fw fa-plus"></i>
                                    <span class="d-none d-lg-inline">加入比較</span>
                                </a>
                            </div>
                            <div class="col-2 col-lg-4 col-xl-3">
                                <a class="btn btn-secondary btn-sm btn-block rounded-pill px-0" href="#">
                                    <i class="far fa-fw fa-heart"></i>
                                    <span class="d-none d-lg-inline">加入最愛</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>