<div class="editable my-2">
    <figure class="text-center m-0">
        <img src="/assets/images/uploads/pic-360x270.jpg" alt="" class="img-fluid"
             data-responsimg-mobile="/assets/images/uploads/pic-360x270.jpg"
             data-responsimg-desktop="/assets/images/uploads/pic-640x480.jpg"
        >
    </figure>
    <div class="blockquote my-3 p-6 mx-auto">
        <p class="m-0">
            當中光軌效果與夜景由於需要花費較多時間拍攝，建議使用腳架才能有良好的畫面呈現
        </p>
    </div>
    <p>
        HUAWEI P8 除了內建處理器、RAM 有所提升外，相機的細節表現也進步不少，同時還加入了四種光軌效果拍攝、超級夜景、導演模式等功能，當中光軌效果與夜景由於需要花費較多時間拍攝，建議使用腳架才能有良好的畫面呈現；而導演模式可與另外三台裝置連線拍攝，相當有趣，雖然部分手機會略顯延遲，但整體拍攝還算順暢，不過過程中機身溫度提升相當快，且彼此的距離不能相隔太遠。此外，獨特的指關節識別功能辨識度頗高，反應也算快速，讓用戶省去按按鍵截圖的時間；另一語音辨識的互動功能可語音撥號或搜尋手機，不過如果環境太吵雜或是聲音太小都會影響到手機的辨識。
    </p>
    <div class="text-center">
        <a class="" href="#" target="_blank">
            <img class="img-fluid" src="https://via.placeholder.com/336x280" alt="">
        </a>
    </div>
    <p>HUAWEI P8 除了內建處理器、RAM 有所提升外，相機的細節表現也進步不少，同時還加入了四種光軌效果拍攝、超級夜景、導演模式等功能，當中光軌效果與夜景由於需要花費較多時間拍攝，建議使用腳架才能有良好的畫面呈現；而導演模式可與另外三台裝置連線拍攝，相當有趣，雖然部分手機會略顯延遲，但整體拍攝還算順暢，不過過程中機身溫度提升相當快，且彼此的距離不能相隔太遠。此外，獨特的指關節識別功能辨識度頗高，反應也算快速，讓用戶省去按按鍵截圖的時間；另一語音辨識的互動功能可語音撥號或搜尋手機，不過如果環境太吵雜或是聲音太小都會影響到手機的辨識。
    </p>
    <hr class="my-4">
    <div id="article-content1">
    <h2 class="text-dark">外觀</h2>
        <h3>H3標題H3標題</h3>
    <p>富可視推出四核心智慧型手機 InFocus M350，由富士康代工，外型擁有純淨光潤的圓弧曲線，側邊最薄處僅有 3.5mm 的纖細，提供消費者絕佳舒適的輕盈握感體驗。具備 5 吋 HD On-cell 觸控螢幕、1,280 x 720pixels 螢幕解析度，提供絕佳視角及不失真色彩，可充分享受每個場景中的每個細節，能帶給你栩栩如生的視覺體驗。InFocus M350 提供黑、白、金、粉紅等機身，讓不同族群都用戶都能掌握喜歡的顏色。</p>
    <p>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/h6BDSTndijA"></iframe>
        </div>

    <p>富可視推出四核心智慧型手機 InFocus M350，由富士康代工，外型擁有純淨光潤的圓弧曲線，側邊最薄處僅有 3.5mm 的纖細，提供消費者絕佳舒適的輕盈握感體驗。具備 5 吋 HD On-cell 觸控螢幕、1,280 x 720pixels 螢幕解析度，提供絕佳視角及不失真色彩，可充分享受每個場景中的每個細節，能帶給你栩栩如生的視覺體驗。InFocus M350 提供黑、白、金、粉紅等機身，讓不同族群都用戶都能掌握喜歡的顏色。</p>
    <figure class="text-center">
        <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/article/img/202009/2020093014043057952_ExtraLargeSize-640x640.jpg" class="img-fluid" alt="">
    </figure>
    <p>富可視推出四核心智慧型手機 InFocus M350，由富士康代工，外型擁有純淨光潤的圓弧曲線，側邊最薄處僅有 3.5mm 的纖細，提供消費者絕佳舒適的輕盈握感體驗。具備 5 吋 HD On-cell 觸控螢幕、1,280 x 720pixels 螢幕解析度，提供絕佳視角及不失真色彩，可充分享受每個場景中的每個細節，能帶給你栩栩如生的視覺體驗。InFocus M350 提供黑、白、金、粉紅等機身，讓不同族群都用戶都能掌握喜歡的顏色。</p>
    <figure class="text-center">
        <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/article/img/202009/2020093014143044885_ExtraLargeSize-640x640.jpg" class="img-fluid" alt="">
    </figure>
    ▲SAMSUNG Galaxy Note 10 Lite 設計承襲 Note 10 系列的精髓，處理器則是與 Note 9 相同。
    <p>富可視推出四核心智慧型手機 InFocus M350，由富士康代工，外型擁有純淨光潤的圓弧曲線，側邊最薄處僅有 3.5mm 的纖細，提供消費者絕佳舒適的輕盈握感體驗。具備 5 吋 HD On-cell 觸控螢幕、1,280 x 720pixels 螢幕解析度，提供絕佳視角及不失真色彩，可充分享受每個場景中的每個細節，能帶給你栩栩如生的視覺體驗。InFocus M350 提供黑、白、金、粉紅等機身，讓不同族群都用戶都能掌握喜歡的顏色。</p>
    </div>

    <div id="carousel-single1" class="carousel slide my-2" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="http://www.google.com.tw" class="d-block text-center" target="_blank">
                <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/article/img/201911/2019112206342279045_ExtraLargeSize-640x640.jpg" class="img-fluid" alt="">
                </a>
            </div>
            <div class="carousel-item">
                <a href="http://www.google.com.tw" class="d-block text-center" target="_blank">
                <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/article/img/201911/2019112209152249233_ExtraLargeSize-640x640.jpg" class="img-fluid" alt="">
                </a>
            </div>
            <div class="carousel-item">
                <a href="http://www.google.com.tw" class="d-block text-center" target="_blank">
                <img src="https://d2lfcsub12kx0l.cloudfront.net/tw/article/img/201911/2019112208372240339_ExtraLargeSize-640x640.jpg" class="img-fluid" alt="">
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carousel-single1" role="button" data-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next" href="#carousel-single1" role="button" data-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    <div class="row no-gutters mt-1 carousel-indicators">
        <a class="col-4 col-lg-3 btn btn-outline-secondary rounded-0" href="#" data-target="#carousel-single1" data-slide-to="0">
            第一張
        </a>
        <a class="col-4 col-lg-3 btn btn-outline-secondary rounded-0 text-row-12" href="#" data-target="#carousel-single1" data-slide-to="1">
            第二張第二張第二張第二張
        </a>
        <a class="col-4 col-lg-3 btn btn-outline-secondary rounded-0" href="#" data-target="#carousel-single1" data-slide-to="2">
            Third
        </a>
        <a class="col-4 col-lg-3 btn btn-outline-secondary rounded-0" href="#" data-target="#carousel-single1" data-slide-to="0">
            第一張
        </a>
        <a class="col-4 col-lg-3 btn btn-outline-secondary rounded-0" href="#" data-target="#carousel-single1" data-slide-to="1">
            第二張第二張
        </a>
        <a class="col-4 col-lg-3 btn btn-outline-secondary rounded-0" href="#" data-target="#carousel-single1" data-slide-to="2">
            Third
        </a>
    </div>

</div>


    <div id="carousel-single-3a052a66-8062-4387-9c78-b50bf27d5ec1" class="carousel slide my-2" data-ride="carousel" data-interval="false">
        <div class="carousel-inner">
            <div class="carousel-item active"><a class="d-block text-center" href="https://d2lfcsub12kx0l.cloudfront.net/test/article/img/202009/202009020722028042_ExtraLargeSize-640x640.jpg" target="_blank"><img src="https://d2lfcsub12kx0l.cloudfront.net/test/article/img/202009/202009020722028042_ExtraLargeSize-640x640.jpg" class="img-fluid" alt="一二三"></a></div>
            <div class="carousel-item"><a class="d-block text-center" href="https://d2lfcsub12kx0l.cloudfront.net/test/article/img/202009/2020090207220278567_ExtraLargeSize-640x640.jpg" target="_blank"><img src="https://d2lfcsub12kx0l.cloudfront.net/test/article/img/202009/2020090207220278567_ExtraLargeSize-640x640.jpg" class="img-fluid" alt="四五六"></a></div>
        </div>
        <a class="carousel-control-prev" href="#carousel-single-3a052a66-8062-4387-9c78-b50bf27d5ec1" role="button" data-slide="prev"><i class="fas fa-chevron-left"></i></a><a class="carousel-control-next" href="#carousel-single-3a052a66-8062-4387-9c78-b50bf27d5ec1" role="button" data-slide="next"><i class="fas fa-chevron-right"></i></a><div class="row no-gutters mt-1 carousel-indicators">
        <a class="col-4 col-lg-3 btn btn-outline-secondary rounded-0" href="#" data-target="#carousel-single-3a052a66-8062-4387-9c78-b50bf27d5ec1" data-slide-to="0">一二三</a><a class="col-4 col-lg-3 btn btn-outline-secondary rounded-0" href="#" data-target="#carousel-single-3a052a66-8062-4387-9c78-b50bf27d5ec1" data-slide-to="1">四五六</a>
        </div>
    </div>
</div>
<p class="text-right text-muted"><small>更新時間：2015/12/31 10:10:10</small></p>
<div class="text-gray-d lead">【本文為合作之廣編企劃】</div>