<div class="container">
    <div class="row my-5 ad-slot-970">
        <div class="col-12 d-none d-lg-block">
            <div class="text-center">
                <a href="#"><img src="https://via.placeholder.com/970x250" alt=""></a>
            </div>
        </div>
        <div class="col-12 d-lg-none">
            <div class="text-center">
                <a href="#"><img class="img-fluid" src="https://via.placeholder.com/336x280" alt=""></a>
            </div>
        </div>
    </div>
    @@if(context.textAd=='true'){
    <div class="row my-2 d-none d-lg-flex">
        <div class="col-4">
            <p class="text-center text-ad">
                <a href="#">新一代前閃自拍利器！5.5吋八核飆網</a>
            </p>
        </div>
        <div class="col-4">
            <p class="text-center text-ad">
                <a href="#">新一代前閃自拍利器！5.5吋八核飆網</a>
            </p>
        </div>
        <div class="col-4">
            <p class="text-center text-ad">
                <a href="#">新一代前閃自拍利器！5.5吋八核飆網</a>
            </p>
        </div>
    </div>
    }
</div>