<div id="message" class="alert alert-warning bs" role="alert">
    <div class="row">
        <div class="col-12 text-right">
            <a href="" class="btn-close btn btn-sm btn-outline-secondary">
                <i class="fas fa-times"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="media my-2">
            <img class="d-flex mr-3" src="//sogi-assets-b.sogiworld.com/assets/steking/ui/avatar/flat-faces-icons-circle-man-1.png" alt="" width="60">
            <div class="media-body">
                <a href="">一二三</a>
                <p class="alert alert-secondary p-2 m-0">高台山：位於新竹縣尖石鄉的那羅部落一帶，標高1510公尺，有No.6286三等三角點與山字森林三角點基石各一顆。山頭寬緩、柳杉林筆直，沿途林相優美，無展望。</p>
                <p class="text-right m-0">2015/12/31 15:15:15</p>
            </div>
        </div>
        <div class="media my-2">
            <img class="d-flex mr-3" src="//sogi-assets-b.sogiworld.com/assets/steking/ui/avatar/flat-faces-icons-circle-man-1.png" alt="" width="60">
            <div class="media-body">
                <a href="">一二三</a>
                <p class="alert alert-secondary p-2 m-0">高台山：位於新竹縣尖石鄉的那羅部落一帶，標高1510公尺，有No.6286三等三角點與山字森林三角點基石各一顆。山頭寬緩、柳杉林筆直，沿途林相優美，無展望。</p>
                <p class="text-right m-0">2015/12/31 15:15:15</p>
            </div>
        </div>
    </div>
    <form>
        <div class="form-group">
            <label for="">收件人</label>
            <input type="text" class="form-control" id="" placeholder="">
        </div>
        <div class="form-group">
            <label for="">內容</label>
            <textarea class="form-control" rows="3" maxlength="500"></textarea>
            <small class="form-text">(一次限制最多500字元)</small>
        </div>
        <button type="submit" class="btn btn-outline-secondary">送出</button>
    </form>
</div>