.bd-1 {
    border: 1px solid $gray-500;
}
.bd-2 {
    // border: 2px solid $gray-500;
    border-width: 2px !important;
}
.bd-3 {
    border-width: 3px !important;
}
.bd-gray-light {
    border-color: $gray-300; 
}
.bd-gray-lighter {
//    border-color: $gray-lighter; 
    border-color: $gray-200;
}
.bd-warning {
    border-color: $warning !important;
}

.table-warning {
    td {
        border-top-color: $color-orange-LT;
    }
}
.border-lg-right {
    @include media-breakpoint-up(lg) {
        border-right: $border-width solid $border-color !important;
    }
}