<div class="col-12 my-2" id="@@id">
    @@include('../../shared/ui/_section-title-h3.html',{
        icon:"@@icon",
        title:"@@title"
    })
    <div class="row">
        <div class="col-lg-8 my-2">
            <section class="price-events">
                <div class="table-responsive">
                    <table class="table table-hover align-middle">
                    <caption class="sr-only">歷史價格事件</caption>
                    <thead class="thead-light">
                        <tr>
                        <th scope="col" style="width: 20%;">日期</th>
                        <th scope="col" style="width: 50%;">事件</th>
                        <th scope="col" style="width: 30%; text-align: right;">價格</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td><time datetime="2026-09-15">2026/9/15</time></td>
                        <td class="text-break">256GB 價格下跌 10%</td>
                        <td class="text-right">
                            <span class="font-weight-bold">$36,990</span>
                            <span class="badge badge-success ml-1">-10%</span>
                            <small class="d-block text-muted">先前 <del>$37,990</del></small>
                        </td>
                        </tr>
                        <tr>
                        <td><time datetime="2026-09-01">2026/9/1</time></td>
                        <td class="text-break">512GB 原廠價格調漲 $3,000</td>
                        <td class="text-right">
                            <span class="font-weight-bold">$39,990</span>
                            <span class="badge badge-danger ml-1">+5%</span>
                            <small class="d-block text-muted">先前 <del>$36,990</del></small>
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </div>

                <details class="price-history-more">
                    <summary class="btn btn-outline-secondary btn-sm mb-2">更多...</summary>
                    <div class="table-responsive mt-2">
                    <table class="table table-hover align-middle">
                        <tbody>
                        <tr>
                            <td style="width: 20%;"><time datetime="2026-08-10">2026/8/10</time></td>
                            <td style="width: 50%;" class="text-break">父親節檔期降價促銷</td>
                            <td style="width: 30%;" class="text-right">
                            <span class="font-weight-bold">$35,990</span>
                            <span class="badge badge-success ml-1">-5%</span>
                            <small class="d-block text-muted">先前 <del>$37,990</del></small>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 20%;"><time datetime="2026-07-01">2026/7/1</time></td>
                            <td style="width: 50%;" class="text-break">新機上市原廠建議售價</td>
                            <td style="width: 30%;" class="text-right">
                            <span class="font-weight-bold">$37,990</span>
                            <small class="d-block text-muted">上市定價</small>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                </details>
            </section>
        </div>
        <div class="col-lg-4 my-2">
            @@include('../../shared/ui/_ad-300-250-item.html')
        </div>
        <div class="col-12 my-2">
            <div id="chart_price" class="chart"></div>
        </div>
    </div>
</div>