<div>
    <div class="container pb-2">
        <div class="nav-responsive">
            <ul class="nav nav-pills nav-styled">
                <li class="nav-item"><a class="nav-link @@if(context.lv1Nav=='product'){active}" href="product-list.html">新機</a></li>
                <li class="nav-item"><a class="nav-link @@if(context.lv1Nav=='second'){active}" href="second-list.html">二手</a></li>
                <li class="nav-item"><a class="nav-link @@if(context.lv1Nav=='repair'){active}" href="repair-list.html">維修</a></li>
                <li class="nav-item"><a class="nav-link @@if(context.lv1Nav=='chart'){active}" href="chart-list.html">資費</a></li>
                <li class="nav-item"><a class="nav-link @@if(context.lv1Nav=='promo'){active}" href="promo-top.html">推廣</a></li>
                <li class="nav-item"><a class="nav-link @@if(context.lv1Nav=='store'){active}" href="store-account.html">商店</a></li>
                <li class="nav-item"><a class="nav-link @@if(context.lv1Nav=='public'){active}" href="public-list.html">公告 <span class="badge badge-danger">NEW</span></a></li>
                <li class="nav-item"><a class="nav-link @@if(context.lv1Nav=='shop'){active}" href="shop-list.html">商圈訂購</a></li>
            </ul>
        </div>
        <div class="btn-group mt-2" role="group">
            @@if(context.lv1Nav=='product'){
            <a class="btn btn-secondary @@if(context.lv2Nav=='product-list'){active}" href="product-list.html">商品列表</a>
            <a class="btn btn-secondary @@if(context.lv2Nav=='product-add-price'){active}" href="product-add-price.html">新增報價</a>
            <a class="btn btn-secondary @@if(context.lv2Nav=='product-promo'){active}" href="product-promo.html">商品優惠</a>
            <a class="btn btn-secondary @@if(context.lv2Nav=='product-message'){active}" href="product-message.html">商品優惠訊息</a>
            }
            @@if(context.lv1Nav=='second'){
            <a class="btn btn-secondary @@if(context.lv2Nav=='second-list'){active}" href="second-list.html">商品列表</a>
            <a class="btn btn-secondary @@if(context.lv2Nav=='second-add-price'){active}" href="second-add-price.html">新增報價</a>
            <a class="btn btn-secondary @@if(context.lv2Nav=='second-multi-upload'){active}" href="second-multi-upload.html">快速新增</a>
            }
            @@if(context.lv1Nav=='repair'){
            <a class="btn btn-secondary @@if(context.lv2Nav=='repair-list'){active}" href="repair-list.html">商品列表</a>
            <a class="btn btn-secondary @@if(context.lv2Nav=='repair-add-price'){active}" href="repair-add-price.html">新增報價</a>
            <a class="btn btn-secondary @@if(context.lv2Nav=='repair-add-brand'){active}" href="repair-add-brand.html">快速新增</a>
            <a class="btn btn-secondary @@if(context.lv2Nav=='repair-promo'){active}" href="repair-promo.html">優惠</a>
            }
            @@if(context.lv1Nav=='promo'){
            <a class="btn btn-secondary @@if(context.lv2Nav=='promo-top'){active}" href="promo-top.html">優先置頂</a>
            <a class="btn btn-secondary @@if(context.lv2Nav=='promo-focus'){active}" href="promo-focus.html">注目商品</a>
            }
            @@if(context.lv1Nav=='store'){
            <a class="btn btn-secondary @@if(context.lv2Nav=='store-account'){active}" href="store-account.html">帳戶檢視</a>
            <a class="btn btn-secondary @@if(context.lv2Nav=='store-list'){active}" href="store-list.html">門市設定</a>
            }
            @@if(context.lv1Nav=='shop'){
            <a class="btn btn-secondary @@if(context.lv2Nav=='shop-list'){active}" href="shop-list.html">商品列表</a>
            <a class="btn btn-secondary @@if(context.lv2Nav=='shop-record'){active}" href="shop-record.html">訂購記錄</a>
            }
        </div>
    </div>
</div>