<div>
    <div class="container">
        <div class="nav-responsive">
            <ul class="nav nav-tabs my-2" role="tablist">
                <li class="nav-item"><a class="nav-link active" href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">中華電信</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">台灣大哥大</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab">遠傳電信</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab">Gt智慧生活</a></li>
                <li class="nav-item"><a class="nav-link" href="#tab-5" aria-controls="tab-5" role="tab" data-toggle="tab">台灣之星</a></li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div class="tab-content py-2">
        <div role="tabpanel" class="tab-pane active" id="tab-1">
            @@include('_table.html',{
                tBodyRow:'2',
                theadClass:'table-primary',
                thead: {
                    th: [
                        {thClass:'text-center', thWidth:'10%', thLabel:'編號'},
                        {thClass:'text-center', thWidth:'22%', thLabel:'資費名稱'},
                        {thClass:'text-center', thWidth:'28%', thLabel:'方案說明'},
                        {thClass:'text-center', thLabel:'新辦'},
                        {thClass:'text-center', thLabel:'續約'},
                        {thClass:'text-center', thLabel:'攜碼'},
                    ]
                },
                tr1: {
                    td: [
                    {
                        tdType:'text',
                        tdClass:'text-center',
                        tdLabel:'1'
                    },
                    {
                        tdType:'text',
                        tdClass:'text-left',
                        tdLabel:'4G-手機絕配599(24)'
                    },
                    {
                        tdType:'text',
                        tdClass:'text-left',
                        tdLabel:'方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    ]
                },
                tr2: {
                    td: [
                    {
                        tdType:'text',
                        tdClass:'text-center',
                        tdLabel:'2'
                    },
                    {
                        tdType:'text',
                        tdClass:'text-left',
                        tdLabel:'4G-手機絕配599(24)'
                    },
                    {
                        tdType:'text',
                        tdClass:'text-left',
                        tdLabel:'方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000', tdInputDisabled:true,
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000', tdInputDisabled:true,
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000', tdInputDisabled:true,
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    ]
                },
            })
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-2">
            @@include('_table.html',{
                tBodyRow:'1',
                theadClass:'table-primary',
                thead: {
                    th: [
                        {thClass:'text-center', thWidth:'10%', thLabel:'編號'},
                        {thClass:'text-center', thWidth:'22%', thLabel:'資費名稱'},
                        {thClass:'text-center', thWidth:'28%', thLabel:'方案說明'},
                        {thClass:'text-center', thLabel:'新辦'},
                        {thClass:'text-center', thLabel:'續約'},
                        {thClass:'text-center', thLabel:'攜碼'},
                    ]
                },
                tr1: {
                    td: [
                    {
                        tdType:'text',
                        tdClass:'text-center',
                        tdLabel:'1'
                    },
                    {
                        tdType:'text',
                        tdClass:'text-left',
                        tdLabel:'台灣之星4G-手機絕配599(24)'
                    },
                    {
                        tdType:'text',
                        tdClass:'text-left',
                        tdLabel:'方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    ]
                },
            })
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-3">
            @@include('_table.html',{
                tBodyRow:'1',
                theadClass:'table-primary',
                thead: {
                    th: [
                        {thClass:'text-center', thWidth:'10%', thLabel:'編號'},
                        {thClass:'text-center', thWidth:'22%', thLabel:'資費名稱'},
                        {thClass:'text-center', thWidth:'28%', thLabel:'方案說明'},
                        {thClass:'text-center', thLabel:'新辦'},
                        {thClass:'text-center', thLabel:'續約'},
                        {thClass:'text-center', thLabel:'攜碼'},
                    ]
                },
                tr1: {
                    td: [
                    {
                        tdType:'text',
                        tdClass:'text-center',
                        tdLabel:'1'
                    },
                    {
                        tdType:'text',
                        tdClass:'text-left',
                        tdLabel:'台灣之星4G-手機絕配599(24)'
                    },
                    {
                        tdType:'text',
                        tdClass:'text-left',
                        tdLabel:'方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    ]
                },
            })
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-4">
            @@include('_table.html',{
                tBodyRow:'1',
                theadClass:'table-primary',
                thead: {
                    th: [
                        {thClass:'text-center', thWidth:'10%', thLabel:'編號'},
                        {thClass:'text-center', thWidth:'22%', thLabel:'資費名稱'},
                        {thClass:'text-center', thWidth:'28%', thLabel:'方案說明'},
                        {thClass:'text-center', thLabel:'新辦'},
                        {thClass:'text-center', thLabel:'續約'},
                        {thClass:'text-center', thLabel:'攜碼'},
                    ]
                },
                tr1: {
                    td: [
                    {
                        tdType:'text',
                        tdClass:'text-center',
                        tdLabel:'1'
                    },
                    {
                        tdType:'text',
                        tdClass:'text-left',
                        tdLabel:'台灣之星4G-手機絕配599(24)'
                    },
                    {
                        tdType:'text',
                        tdClass:'text-left',
                        tdLabel:'方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    ]
                },
            })
        </div>
        <div role="tabpanel" class="tab-pane" id="tab-5">
            @@include('_table.html',{
                tBodyRow:'1',
                theadClass:'table-primary',
                thead: {
                    th: [
                        {thClass:'text-center', thWidth:'10%', thLabel:'編號'},
                        {thClass:'text-center', thWidth:'22%', thLabel:'資費名稱'},
                        {thClass:'text-center', thWidth:'28%', thLabel:'方案說明'},
                        {thClass:'text-center', thLabel:'新辦'},
                        {thClass:'text-center', thLabel:'續約'},
                        {thClass:'text-center', thLabel:'攜碼'},
                    ]
                },
                tr1: {
                    td: [
                    {
                        tdType:'text',
                        tdClass:'text-center',
                        tdLabel:'1'
                    },
                    {
                        tdType:'text',
                        tdClass:'text-left',
                        tdLabel:'台灣之星4G-手機絕配599(24)'
                    },
                    {
                        tdType:'text',
                        tdClass:'text-left',
                        tdLabel:'方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明方案說明'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    {
                        tdType:'input', tdInputTooltip:'上限$6000',
                        tdClass:'text-center',
                        tdLabel:'', tdInputMinWidth:'120px'
                    },
                    ]
                },
            })
        </div>
    </div>
    <div class="container">
        <div class="text-center">
            @@include('../../unit/_btn.html',{
                btnColor:'primary',
                btnPaddingY:'1',
                href:'#',
                btnIcon:'fas fa-check',
                btnName:'@@btnName',
            })
        </div>
    </div>
</div>