<div>
    <div class="container px-lg-0 pb-10">
        @@if(context.funcBtnName){
            @@include('_table-func.html',{
                funcBtnName:'@@funcBtnName',
            })
        }
        @@if(context.title){
            @@include('_sub-title.html',{
                title:'@@title',
            })
        }
        @@if(context.alertDesc){
            @@include('_alert.html',{
                alertColor:'@@alertColor',
                alertDesc:'@@alertDesc',
            })
        }
        <div class="table-responsive mt-2">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="@@theadClass">
                        @@for (var i = 0; i < thead.th.length; i++) {
                            @@include('_table-th.html', `+(JSON.stringify(thead.th[i]))+`)
                        }
                    </tr>
                </thead>
                <tbody>
                    @@if(context.tBodyRow=='1' || context.tBodyRow=='2' || context.tBodyRow=='3'){
                    <tr>
                        @@for (var i = 0; i < tr1.td.length; i++) {
                            @@include('_table-td.html', `+(JSON.stringify(tr1.td[i]))+`)
                        }
                    </tr>
                    }
                    @@if(context.tBodyRow=='2' || context.tBodyRow=='3'){
                    <tr>
                        @@for (var i = 0; i < tr2.td.length; i++) {
                            @@include('_table-td.html', `+(JSON.stringify(tr2.td[i]))+`)
                        }
                    </tr>
                    }
                    @@if(context.tBodyRow=='3'){
                    <tr>
                        @@for (var i = 0; i < tr3.td.length; i++) {
                            @@include('_table-td.html', `+(JSON.stringify(tr3.td[i]))+`)
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        @@if(context.pagination===true){
            @@include('../../comp/_pagination.html')
        }
    </div>
</div>