<div class="card shadow my-2">
    <div class="row no-gutters align-items-center">
        <div class="col-12 col-lg">
            <a href="#">
                <img class="card-img" src="@@img" alt="@@title">
            </a>
            <div class="pos-a-lt ml-1 mt-n1">
                <span class="badge badge-light">@@badgeLabel</span>
            </div>
        </div>
        <div class="col-12 col-lg-5">
            <div class="card-body p-2">
                <div class="hashtags card-text text-row-1">
                    <a class="hashtag" href="#">@@tag1</a>
                    @@if(context.tag2){
                    <a class="hashtag" href="#">@@tag2</a>
                    }
                    @@if(context.tag3){
                    <a class="hashtag" href="#">@@tag3</a>
                    }
                    @@if(context.tag4){
                    <a class="hashtag" href="#">@@tag4</a>
                    }
                </div>
                <div class="card-title">
                    <h3 class="h5 text-row-2 font-weight-bold my-1">
                        <a class="text-black" href="#">
                            @@title
                        </a>
                    </h3>
                </div>
                <p class="card-text text-dark text-row-6">
                    @@desc
                </p>
                <div class="text-center mt-8">
                    @@include('_btn.html',{
                        btnPaddingX:'10',
                        btnColor:'warning',
                        btnRounded:'pill',
                        href:'#',
                        btnName:'繼續閱讀',
                    })
                </div>
            </div>
        </div>
    </div>
</div>