<div class="col-11 col-md-5 my-2">
    <div class="card shadow">
        <div class="row no-gutters align-items-center text-center">
            <div class="col-5 p-2">
                <img class="img-fluid mx-auto" src="@@img1" alt="@@title1">
                <div class="text-row-2 mt-2" data-toggle="tooltip" data-placement="top" title="@@title1">
                    @@title1
                </div>
            </div>
            <div class="col-2 text-center">
                <img class="img-fluid mx-auto" src="/assets/images/ui/icon-vs.png" alt="">
            </div>
            <div class="col-5 p-2">
                <img class="img-fluid mx-auto" src="@@img2" alt="@@title2">
                <div class="text-row-2 mt-2" data-toggle="tooltip" data-placement="top" title="@@title2">
                    @@title2
                </div>
            </div>
            <div class="col-12 p-2">
                <a class="btn btn-primary btn-sm px-10 rounded-pill" href="/common/pk-seo.html">比較</a>
            </div>
        </div>
    </div>
</div>