<div class="col-12 col-xl-8 col-lg my-2">
    <div class="card shadow p-2">
        <div class="row align-items-center">
            <div class="col-12 col-md-4 text-center">
                @@if(context.badge1Title){
                    <div class="h5 mb-2">
                        <span class="badge text-white w-75" @@if(context.badge1Color){style="background: @@badge1Color;"}>@@badge1Title</span>
                    </div>
                }
                @@if(context.badge2Title){
                    <span class="badge badge-custom" style="background: @@badge2bColor; color: @@badge2fColor;">@@badge2Title</span>
                }
                <a href="#">
                    <div class="d-none d-md-block">
                        <img class="img-fluid" src="@@imgMd" alt="@@title">
                    </div>
                    <div class="d-md-none">
                        <img class="img-fluid" src="@@imgSm" alt="@@title">
                    </div>
                </a>
                <div class="h5 my-2">
                    <span class="badge badge-outline">@@tag1</span>
                    <span class="badge badge-outline">@@tag2</span>
                    <span class="badge badge-outline">@@tag3</span>
                    <span class="badge badge-outline">@@tag4</span>
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="row mt-2">
                    <div class="col-12 text-center text-md-left">
                        <a href="#" class="text-row-1 text-dark"><h3 class="h5">@@title</h3></a>
                        <div class="text-muted font-small">
                            <span class="mr-2">原廠售價: $@@price</span>
                            <span>上市日期: @@date</span>
                        </div>
                    </div>
                    <div class="col-8 col-md-6 offset-2 offset-md-0 mt-2">
                        <div class="progress position-relative mx-auto">
                            <div class="progress-bar bg-@@progressColor" role="progressbar" style="width: @@progressValue%" aria-valuenow="@@progressValue" aria-valuemin="0" aria-valuemax="100"></div>
                            <small class="justify-content-center d-flex position-absolute w-100">
                                <span class="text-white">@@progressNumber</span>
                            </small>
                        </div>
                    </div>
                    <div class="w-100 my-2"></div>
                    <div class="col-6">
                        <ul class="list-group list-group-flush border-bottom">
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-1 font-small text-muted">
                                        <i class="fa-fw @@spec1Icon"></i>
                                    </div>
                                    <div class="col-10">@@spec1Name</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-1 font-small text-muted">
                                        <i class="fa-fw @@spec2Icon"></i>
                                    </div>
                                    <div class="col-10">@@spec2Name</div>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-group list-group-flush border-bottom">
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-1 font-small text-muted">
                                        <i class="fa-fw @@spec3Icon"></i>
                                    </div>
                                    <div class="col-10">@@spec3Name</div>
                                </div>
                            </li>
                            <li class="list-group-item">
                                <div class="row align-items-center">
                                    <div class="col-1 font-small text-muted">
                                        <i class="fa-fw @@spec4Icon"></i>
                                    </div>
                                    <div class="col-10">@@spec4Name</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-xl-6 my-2">
                        <div class="row">
                            <div class="col-6 border-right">
                                <a class="text-center" href="#">
                                    <div class="text-dark">門市最低</div>
                                    <div class="h4 font-weight-bold text-primary">$@@priceStore</div>
                                </a>
                            </div>
                            <div class="col-6">
                                <a class="text-center" href="#">
                                    <div class="text-dark">二手價</div>
                                    <div class="h4 font-weight-bold">$@@priceLow</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-8 col-lg-4 col-xl-6">
                        @@include('_btn.html',{
                            btnBlock:'true',
                            btnColor:'primary',
                            btnRounded:'pill',
                            href:'#',
                            btnName:'了解更多',
                        })
                    </div>
                    <div class="col-2 col-lg-4 col-xl-3">
                        @@include('_btn.html',{
                            btnBlock:'true',
                            btnPaddingX:'1',
                            btnColor:'secondary',
                            btnRounded:'pill',
                            btnIcon:'fas fa-plus',
                            href:'#',
                            btnName:'比較',
                            btnRWD:'true'
                        })
                    </div>
                    <div class="col-2 col-lg-4 col-xl-3">
                        @@include('_btn.html',{
                            btnBlock:'true',
                            btnPaddingX:'1',
                            btnColor:'secondary',
                            btnRounded:'pill',
                            btnIcon:'far fa-heart',
                            href:'#',
                            btnName:'最愛',
                            btnRWD:'true'
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>