<div class="col-lg-@@colLg col-md-@@colMd col-@@col my-2">
    <div class="card p-2 shadow h-100">
        <div class="card-body p-0">
            <div class="row no-gutters">
                <div class="col-12 mb-2">
                    <div class="text-center badge-group-nowrap h5 my-2">
                        <span class="badge badge-outline badge-pill mx-1">@@tag1</span>
                        @@if(context.tag2){
                        <span class="badge badge-outline badge-pill mx-1">@@tag2</span>
                        }
                        @@if(context.tag3){
                        <span class="badge badge-outline badge-pill mx-1">@@tag3</span>
                        }
                        @@if(context.tag4){
                        <span class="badge badge-outline badge-pill mx-1">@@tag4</span>
                        }
                    </div>
                    <div class="card-title text-center">
                        <a class="h4 font-weight-bold text-dark" href="">
                            @@title
                        </a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 text-center mb-2 mb-lg-0">
                    <a href="#">
                        @@if(context.badge2Title){
                            <span class="badge badge-custom" style="background: @@badge2bColor; color: @@badge2fColor;">@@badge2Title</span>
                        }
                        <img src="@@img" class="img-fluid" alt="@@title">
                    </a>
                </div>
                <div class="col-12 col-lg-6">
                    <ul class="list-group list-group-flush mb-2">
                        <li class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-5 font-small">
                                    <i class="fa-fw @@spec1Icon"></i> @@spec1Label
                                </div>
                                <div class="col-6 col-md-7 h5">@@spec1Content</div>
                            </div>
                        </li>
                        @@if(context.spec2Label){
                        <li class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-5 font-small">
                                    <i class="fa-fw @@spec2Icon"></i> @@spec2Label
                                </div>
                                <div class="col-6 col-md-7 h5">@@spec2Content</div>
                            </div>
                        </li>
                        }
                        @@if(context.spec3Label){
                        <li class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-5 font-small">
                                    <i class="fa-fw @@spec3Icon"></i> @@spec3Label
                                </div>
                                <div class="col-6 col-md-7 h5">@@spec3Content</div>
                            </div>
                        </li>
                        }
                        @@if(context.spec4Label){
                        <li class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-5 font-small">
                                    <i class="fa-fw @@spec4Icon"></i> @@spec4Label
                                </div>
                                <div class="col-6 col-md-7 h5">@@spec4Content</div>
                            </div>
                        </li>
                        }
                        @@if(context.spec5Label){
                        <li class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col-6 col-md-5 font-small">
                                    <i class="fa-fw @@spec5Icon"></i> @@spec5Label
                                </div>
                                <div class="col-6 col-md-7 h5">@@spec5Content</div>
                            </div>
                        </li>
                        }
                    </ul>
                </div>
                <div class="col-12">
                    <div class="text-center">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer p-0 bg-white">
            <div class="text-center">
                @@include('_btn.html',{
                    btnColor:'primary',
                    btnRounded:'pill',
                    href:'#',
                    btnName:'查看完整規格',
                })
            </div>
        </div>
    </div>
</div>