<a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center border-bottom-@@borderWidth" href="#">
    <div class="w-50">
        <div class="row align-items-center">
            <div class="col-auto text-center @@if(context.listIcon){text-muted}">
                @@if(context.listCount){
                    @@listCount
                }
                @@if(context.listIcon){
                    <i class="fa-fw @@listIcon"></i>
                }
            </div>
            <div class="col text-left">
                @@if(context.listBadgeLabel){
                <span class="badge badge-price badge-pill">@@listBadgeLabel</span>
                }
                <div class="text-dark @@if(context.listCount){text-row-1}">@@listName</div>
            </div>
        </div>
    </div>
    <div class="">
        <span class="h5 font-weight-bold text-primary">$@@listPrice</span> <i class="fas fa-chevron-right text-dark"></i>
    </div>
</a>